<div id="ariane">
    <h2><b>门头作品</b></h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>平面设计</li>
      </ul>
    </nav>  
 </div>
 <div id="section1">
    <div id="description">
        <h3>PORTFOLIO SHOP SIGN</h3>
        <h1><b>门头设计</b></h1>
        <div class="content" [ngStyle]="{ 'max-height': isExpanded ? 'none' : '200px', 'overflow': isExpanded ? 'visible' : 'hidden' }">
            <p id="text">门头设计是商铺、公司或机构门口的标识和装饰，具有重要的视觉和品牌传达作用。通过精心设计和布置门头，可以实现以下关键作用：首先，门头设计是展示品牌形象和标识的重要方式。通过运用品牌的颜色、字体、图形和标志，门头设计能够突出品牌的独特性和个性，增强品牌的识别度和记忆力。其次，门头设计能够增强商铺或机构的可见性和吸引力。通过选用醒目的材料、照明效果和设计元素，门头能够吸引过往行人的目光，引起他们的兴趣，激发进一步探索的欲望。创造独特性是门头设计的另一个关键作用。通过使用特殊的形状、材质和装饰元素，门头设计能够突出商铺或机构的个性和风格，与竞争对手区别开来，留下深刻印象。门头设计还能够建立专业形象。通过恰当的设计和选择适合的材料，门头能够传达出商铺或机构的专业性和可信度，增加顾客对服务和产品的信任。最后，门头设计可以通过导向标识和标识符号来引导顾客进入店铺或机构。合理的门头设计能够提供明确的引导和方向，方便顾客找到入口，并提升顾客的满意度和体验。综上所述，门头设计在商铺或机构门口扮演着重要角色，通过精心设计和布置，能够展示品牌形象、增强可见性、创造独特性、建立专业形象和引导顾客入店，为商铺或机构带来更多的曝光和商机。</p>
        </div>
        <p class="read-more" (click)="toggleExpansion()">{{ isExpanded ? '查看少' : '查看更多' }}</p>
    </div>
    <div id="descriptionImage">
       <img id="imageSection1" src="../../../../assets/images/marketing/marketing-eight/1.png" alt="scene">
    </div>
</div>
<div class="section2">
    <div class="tuilesSection2" [ngClass]="{'tuiles2': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/logo-four">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-eight/2.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">Hello World</div>
                        </div>
                    
                </div>
            </a>
            <a routerLink="/logo-three">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-eight/3.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">Hello World</div>
                        </div>
                </div>
            </a>
        </div>
    </div>
  </div>