@font-face {
    font-family: 'PingFang';
    src: url('../../../assets/font/PingFang.woff') format('woff');
} 

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'PingFang', sans-serif;
}

.footer{
    margin-top: 150px;
    width: auto;
    padding: 50px 5%;
    background: #000000;
    color: #efefef;
    display: flex;
}

.footerContact{
    width: auto;
    padding: 50px 5%;
    background: #000000;
    color: #efefef;
    display: flex;
}

#container{
    display: flex;
    justify-content: center;
}

#contact{
    padding-left: 97px;
}

#useful_links{
    padding-left: 111px;
    padding-top: 50px;
    font-size: 18px;
    line-height: 40px;
}

.align-right {
    text-align: right;
}

@media (max-width: 1600px){ 
    #useful_links{
        padding-top: 30px;
        padding-left: 85px;
        font-size: 16px;
    }

    #contact img {
        width: 230px;
        height: 230px;
    }
}

@media (max-width: 1500px){ 
    .footer{
        padding: 50px 5%;
    }
}

@media (max-width: 1400px){ 
    #useful_links{
        padding-top: 20px;
        padding-left: 70px;
        font-size: 15px;
    }

    #contact img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 1300px){ 
    #useful_links{
        padding-left: 60px;
        font-size: 13px;
    }
} 

@media (max-width: 1200px){ 
    #useful_links{
        padding-left: 55px;
    }
} 

@media (max-width: 1100px){ 
    #contact img {
        width: 170px;
        height: 170px;
    }

    #useful_links{
        padding-left: 50px;
    }

    #contact{
        padding-left: 30px;
    }
} 

@media (max-width: 1000px){ 
    #contact img {
        width: 130px;
        height: 130px;
    }

    #useful_links{
        padding-left: 40px;
        font-size: 11px;
    }

    #contact{
        padding-left: 10px;
    }
} 

@media (max-width: 800px){ 
    #useful_links{
        padding-left: 0;
        padding-top: 25px;
        font-size: 18px;
        text-align: center;
    }

    #container{
        display: table;
        margin: 0 auto;
        justify-content: center;
    }

    #contact{
        padding-left: 0;
    }

    #contact img {
        width: 230px;
        height: 230px;
    }
}

@media (max-width: 500px){ 
    h1{
        font-size: 25px;
    }
}