* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.footer{
    margin-top: 150px;
    width: 100%;
    padding: 50px 15%;
    background: #333;
    color: #efefef;
    display: flex;
}

#container{
    display: flex;
    justify-content: center;
}

#logos{
    padding-top: 30px;
    font-size: 20px;
    display: flex;
}

.padding{
    padding-left: 25px;
}

.fa-weixin{
    padding: 7px;
    background-color: green;
    border-radius: 50%;
}

.fa-linkedin{
    padding: 7px;
    background-color: rgb(7, 147, 241);
    border-radius: 50%;
}

.fa-instagram{
    padding: 7px;
    background-color: rgb(224, 18, 224);
    border-radius: 50%;
}

#useful_links{
    padding-left: 150px;
}