<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div [ngClass]="footerService.cssClass">
    <div id="container">
        <div id="contact">
            <img src="../../../assets/images/footer-logo.png" alt="footer-logo">
        </div>
        <div id="useful_links">
            <p>联系我们</p>
            <p>哪里可以找到我们</p>
            <p>隐私政策</p>
            <p>法律声明</p>
        </div>
        <div id="useful_links">
            <p>品牌全案设计</p>
            <p>LOGO设计</p>
            <p>书籍刊印</p>
            <p>宣传物料</p>
        </div>
        <div id="useful_links">
            <p>UI/UX</p>
            <p>插画</p>
            <p>动漫</p>
            <p>动效</p>
        </div>
        <div id="useful_links" class="align-right">
            <p>WeChat  丨  if9998877163</p>
            <p>Mobile Phone  丨  +86 181 2073 3276</p>
            <p>+33 6 95 89 05 93</p>
            <p>E-mail丨  ifdesignstudio23@gmail.com</p>
        </div>
    </div>
</div>