* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.footer{
    margin-top: 150px;
    width: auto;
    padding: 50px 10%;
    background: #333;
    color: #efefef;
    display: flex;
}

#container{
    display: flex;
    justify-content: center;
}

#logos{
    padding-top: 30px;
    font-size: 20px;
    display: flex;
}

.padding{
    padding-left: 25px;
}

.fa-weixin{
    padding: 7px;
    background-color: green;
    border-radius: 50%;
}

.fa-linkedin{
    padding: 7px;
    background-color: rgb(7, 147, 241);
    border-radius: 50%;
}

.fa-instagram{
    padding: 7px;
    background-color: rgb(224, 18, 224);
    border-radius: 50%;
}

#useful_links{
    padding-left: 150px;
}

@media (max-width: 1700px){ 
    #useful_links{
        padding-left: 125px;
    }
}

@media (max-width: 1600px){ 
    #useful_links{
        padding-left: 75px;
    }
}

@media (max-width: 1500px){ 
    .footer{
        padding: 50px 5%;
    }
}

@media (max-width: 1400px){ 
    #useful_links{
        padding-left: 50px;
    }
}

@media (max-width: 1300px){ 
    #useful_links{
        padding-left: 25px;
    }
}

@media (max-width: 1100px){ 
    #useful_links{
        padding-left: 0;
        padding-top: 25px;
        text-align: center;
    }

    #container{
        display: table;
        margin: 0 auto;
        justify-content: center;
    }

    #logos{
        justify-content: center;
    }
}

@media (max-width: 500px){ 
    h1{
        font-size: 25px;
    }
}