<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div [ngClass]="footerService.cssClass">
    <div id="container">
        <div id="contact">
            <img src="../../../assets/images/footer-logo.png" alt="footer-logo">
        </div>
        <div [ngClass]="selectedLanguage === 'CN' ? 'useful_links' : 'useful_links_fr_en'">
            <a routerLink="/contact"><p>{{ 'FOOTER-MENU.CONTACT' | translate }}</p></a>
            <a routerLink="/about"><p>{{ 'FOOTER-MENU.ABOUT' | translate }}</p></a>
            <a routerLink="/confidential"><p>{{ 'FOOTER-MENU.CONFIDENTIAL' | translate }}</p></a>
            <a routerLink="/legal-notice"><p>{{ 'FOOTER-MENU.LEGAL-NOTICE' | translate }}</p></a>
        </div>
        <div [ngClass]="selectedLanguage === 'CN' ? 'useful_links' : 'useful_links_fr_en'">
            <a routerLink="/graphics"><p>{{ 'FOOTER-MENU.GRAPHICS' | translate }}</p></a>
            <a routerLink="/logo-design"><p>{{ 'FOOTER-MENU.LOGO-DESIGN' | translate }}</p></a>
            <a routerLink="/marketing"><p>{{ 'FOOTER-MENU.MARKETING' | translate }}</p></a>
        </div>
        <div [ngClass]="selectedLanguage === 'CN' ? 'useful_links' : 'useful_links_fr_en'">
            <a routerLink="/UI/UX"><p>{{ 'FOOTER-MENU.UIUX' | translate }}</p></a>
            <a routerLink="/art"><p>{{ 'FOOTER-MENU.ART' | translate }}</p></a>
            <a routerLink="/book-printing"><p>{{ 'FOOTER-MENU.BOOK-PRINTING' | translate }}</p></a>
        </div>
        <div class="align-right" [ngClass]="selectedLanguage === 'CN' ? 'useful_links' : 'useful_links_fr_en'">
            <p>WeChat  丨  if9998877163</p>
            <p>Mobile Phone  丨  +86 181 2073 3276</p>
            <p>+33 6 95 89 05 93</p>
            <p>E-mail丨  ifdesignstudio23@gmail.com</p>
        </div>
    </div>
</div>