<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="footer">
    <div id="container">
        <div id="contact">
            <h1>IF DESIGN STUDIO</h1>
            <div id="phones">
                <p>+86 123456789</p>
                <p>+33 123456789</p>
            </div>
            <div id="logos">
                <div>
                    <a class="fa fa-weixin"></a>
                </div>
                <div class="padding">
                    <a class="fa fa-linkedin"></a>
                </div>
                <div class="padding">
                    <a class="fa fa-instagram"></a>
                </div>
            </div>
        </div>
        <div id="useful_links">
            <p>各种材料的用处</p>
            <p>哪里可以找到我们</p>
            <p>隐私政策</p>
            <p>法律声明</p>
        </div>
        <div id="useful_links">
            <p>书籍刊印</p>
            <p>平面设计</p>
            <p>LOGO设计</p>
            <p>VI</p>
            <p>品牌</p>
        </div>
        <div id="useful_links">
            <p>书籍刊印</p>
            <p>平面设计</p>
        </div>
    </div>
</div>