@font-face {
    font-family: 'PingFang';
    src: url('../../../assets/font/PingFang.woff') format('woff');
} 

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'PingFang', sans-serif;
}

.footer{
    margin-top: 150px;
    width: auto;
    padding: 50px 5%;
    background: #000000;
    color: #efefef;
    display: flex;
}

.footerContact{
    width: auto;
    padding: 50px 5%;
    background: #000000;
    color: #efefef;
    display: flex;
}

#container{
    display: flex;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
}

#contact{
    position: relative;
    left: -90px;
}

.useful_links{
    position: relative;
    left: 100px;
    padding-left: 111px;
    padding-top: 50px;
    font-size: 18px;
    line-height: 40px;
}

.useful_links a {
    text-decoration: none;
    color: white;
}

.useful_links a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.useful_links p {
    padding-bottom: 10px;
}

.useful_links_fr_en{
    position: relative;
    left: 100px;
    padding-left: 65px;
    padding-top: 50px;
    font-size: 18px;
    line-height: 40px;
}

.useful_links_fr_en a {
    text-decoration: none;
    color: white;
}

.useful_links_fr_en a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.useful_links_fr_en p {
    padding-bottom: 10px;
}

.align-right {
    text-align: right;
}

@media (max-width: 1600px){ 
    .useful_links{
        padding-top: 30px;
        padding-left: 85px;
        font-size: 16px;
    }

    .useful_links_fr_en{
        padding-top: 30px;
        padding-left: 55px;
        font-size: 16px;
    }

    #contact img {
        width: 230px;
        height: 230px;
    }
}

@media (max-width: 1500px){ 
    .footer{
        padding: 50px 5%;
    }
}

@media (max-width: 1400px){ 
    .useful_links{
        padding-top: 20px;
        padding-left: 70px;
        font-size: 15px;
    }

    .useful_links_fr_en{
        left: 40px;
        padding-top: 20px;
        padding-left: 40px;
        font-size: 15px;
    }

    #contact img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 1300px){ 
    .useful_links{
        padding-left: 60px;
        font-size: 13px;
    }

    .useful_links_fr_en{
        padding-left: 60px;
        font-size: 13px;
    }
} 

@media (max-width: 1200px){ 
    .useful_links{
        padding-left: 55px;
    }

    .useful_links_fr_en{
        padding-left: 55px;
    }
} 

@media (max-width: 1100px){ 
    .useful_links{
        padding-left: 30px;
        font-size: 11px;
    }

    .useful_links_fr_en{
        padding-left: 30px;
        font-size: 11px;
    }
} 

@media (max-width: 900px){ 
    .useful_links{
        padding-left: 0;
        padding-top: 25px;
        font-size: 18px;
        text-align: center;
        left: 0;
    }

    .useful_links_fr_en{
        padding-left: 0;
        padding-top: 25px;
        font-size: 18px;
        text-align: center;
        left: 0;
    }

    #container{
        display: table;
        margin: 0 auto;
        justify-content: center;
    }

    #contact {
        left: 0;
    }

    #contact img {
        width: 230px;
        height: 230px;
    }
}

@media (max-width: 500px){ 
    h1{
        font-size: 25px;
    }
}