<div id="ariane">
    <img src="../../../../assets/images/products/product-three/logo.png" alt="logo">
 </div>
 <div id="section1">
    <div id="description">
        <h3>PORTFOLIO PACKAGING</h3>
        <h1><b>KARYOOSI - 飞机盒设计</b></h1>
        <div class="content">
            <p><strong>2023作品 -</strong> 包装设计、产品渲染
                <br>
                <strong>设计师：</strong> 27&乃青
            </p>
        </div>
    </div>
    <div id="descriptionImage">
       <img id="imageSection1" src="../../../../assets/images/products/product-three/1.png" alt="product-three">
    </div>
</div>
<div id="section2" class="section2" [ngClass]="{'imagesSection2': opacitySection2 === 1}">
    <img src="../../../../assets/images/products/product-three/2.png" alt="" class="images">
    <img src="../../../../assets/images/products/product-three/3.png" alt="" class="images">
    <img src="../../../../assets/images/products/product-three/4.png" alt="" class="images">
    <img src="../../../../assets/images/products/product-three/5.png" alt="" class="images">
    <img src="../../../../assets/images/products/product-three/6.png" alt="" class="images">
</div>