<div id="ariane">
    <h2>法律申明</h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>首页</li>
      </ul>
    </nav>  
</div>
<div id="text-container">
    <p>
        欢迎您访问我们的设计工作室网站。在使用本网站之前，请仔细阅读以下法律声明。通过访问和使用本网站，即表示您同意并接受以下条款和条件：<br>
        知识产权 <br>
        本网站上的所有内容，包括但不限于文字、图像、标识、图标、按钮、音频和视频剪辑等，均受版权和商标法律保护。未经我们事先书面同意，禁止在任何媒体或渠道上使用、复制、传播或修改这些内容。<br>
        免责声明 <br>
        本网站上的所有内容仅供一般信息目的而提供，不构成任何形式的专业建议或意见。我们尽力确保网站上的信息准确、完整和最新，但不对其准确性或完整性做任何保证。<br>
        第三方链接 <br>
        本网站可能包含指向第三方网站的链接，这些链接仅供方便用户访问。我们不对这些第三方网站的内容或隐私政策负责，访问这些链接所产生的风险由用户自行承担。<br>
        免责声明的变更 <br>
        我们保留随时修改或更新本法律声明的权利。您在使用本网站时应定期查阅最新版本的法律声明。<br>
        适用法律 <br>
        本法律声明受所在地法律管辖。在使用本网站过程中产生的任何争议，双方应首先通过友好协商解决。如无法达成一致，任何争议均应提交至所在地有管辖权的法院解决。<br>
        再次强调，请您在使用本网站前仔细阅读并理解以上法律声明。如果您有任何疑问或需要更多信息，请随时与我们联系。感谢您访问我们的网站，我们将竭诚为您提供优质的服务！
    </p>
</div>