h2 {
  text-align: center;
  background-color: #EFEFEF;
  padding-top: 60px;
  margin-top: 65px;
  padding-bottom: 65px;
  font-size: 48px;
  font-weight: 400;
  line-height: 67.2px;
}

#section1 {
  display: flex;
  padding-top: 99px;
  padding-left: 260px;
  padding-right: 260px;
  padding-bottom: 117px;
}

#description {
  padding-right: 138px;
}

#description p {
  font-size: 20px;
  line-height: 30px;
}

.content {
  transition: max-height 0.3s ease-in-out;
}

.read-more {
  color: blue;
  cursor: pointer;
}

#imageSection1 {
  width: 689px;
  height: 497px;
}

#section2 {
  padding-bottom: 150px;
  background: #F8F8F8;
  background-size: 50% auto;
}

.slider-container {
  padding-top: 126px;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

.slider-arrow {
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;

  &.left {
    top: 60%;
    left: 120px;
  }

  &.right {
    top: 60%;
    right: 120px;
  }
}

#arrowLeft {
  width: 28px;
  height: 50px;
}

#arrowRight {
  width: 28px;
  height: 50px;
}

.slider {
  position: relative;
  width: 100%;
  padding-top: 10px;
  height: 510px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.cards-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

@keyframes slideRightAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideLeftAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.card {
  width: 357px;
  height: 460px;
  margin: 0 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.541);
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;

  &.slide-left {
    animation: slideLeftAnimation 0.3s ease-in-out forwards;
  }

  &.slide-right {
    animation: slideRightAnimation 0.3s ease-in-out forwards;
  }

  &.active {
    opacity: 1;
    order: 0;
    width: 392px;
    height: 498px;
  }

  &:hover{
    cursor: pointer;
  }

  &.active:hover {
   cursor: auto;
  }

  img {
    width: 280px;
    padding-bottom: 50px;
  }

  .card-content {
    padding: 10px;

    h3 {
      margin: 0;
      font-size: 32px;
      font-weight: 400;
    }

    p {
      margin: 10px 0;
      font-size: 16px;
      font-weight: 400;
    }
  }}
}
