h2 {
  text-align: center;
  background-color: #EFEFEF;
  padding-top: 60px;
  margin-top: 65px;
  padding-bottom: 65px;
  font-size: 48px;
  font-weight: 400;
  line-height: 67.2px;
}

#section1 {
  display: flex;
  padding-top: 99px;
  padding-left: 260px;
  padding-right: 260px;
  padding-bottom: 117px;
}

#description {
  padding-right: 138px;
}

#description p {
  font-size: 20px;
  line-height: 30px;
}

.content {
  transition: max-height 0.3s ease-in-out;
}

.read-more {
  color: blue;
  cursor: pointer;
}

#imageSection1 {
  width: 689px;
  height: 497px;
}

#section2 {
  padding-bottom: 150px;
  background: #F8F8F8;
  background-size: 50% auto;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.button {
  position: absolute;

  img {
    width: 30%;
  }
  
  &--left {
    left: 50%;
    top: 50%;
    transform: translateX(-800px);
  }
  &--right {
    right: 50%;
    top: 50%;
    transform: translateX(800px);
  }
}

.carousel {
  height: 50%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 40%;
  top: 40%;
  transform: translate3d(-50%, -40%, 0);
}

.item {
  width: 352px;
  height: 460px;
  background: #ffffff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.541);
  float: left;
  list-style: none;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transition: all .5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  img {
    width: 280px;
    padding-bottom: 50px;
  }
}

.item:last-child {
  margin-right: 0;
}

[data-position='1'] {
  transform: translate3d(-480px, 0px, 0px);
  z-index: 1;
}

[data-position='2'] {
  transform: scale(1.1) translate3d(0px, 0px, 0px);
  z-index: 3;
}

[data-position='3'] {
  transform: translate3d(480px, 0px, -5px);
  z-index: 2;
}

@keyframes crossfade {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0.7;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}