<h2>全方位的品牌设计全案</h2>
<div id="section1">
    <div id="description">
        <h1>战略、驱动、一站式</h1>
        <div class="content" [ngStyle]="{ 'max-height': isExpanded ? 'none' : '150px', 'overflow': isExpanded ? 'visible' : 'hidden' }">
            <p>品牌全案是为企业提供强大动力和方向的关键要素。将企业比作一艘船，品牌全案服务就像是船的帆，为企业提供动力和引领。在这个比喻中，品牌全案服务不仅仅是主帆，也是船上的桨之一，推动企业向前发展。市场方案、品牌方案和传播方案有机地结合在品牌全案中，为企业打造独特的品牌形象，提升品牌的认知度和价值。</p>
            <p>我们以综合性的视角和专业的知识，为客户提供从品牌策略到品牌传播的一系列服务。我们深入了解客户的品牌使命、目标受众和市场环境，通过战略规划和创意设计，打造出独特且有吸引力的品牌形象。
                我们的品牌设计全案涵盖品牌标识设计，包括创造标志性的品牌标识和标志系统，以及视觉语言的开发，如色彩、字体、图形等元素的统一应用。同时，我们还为品牌打造一致的视觉形象，涵盖各种品牌资料、广告宣传、包装设计等方面，以确保品牌在各个媒体和渠道上都能传达出一致而专业的形象。
                除此之外，我们也注重品牌传播的关键渠道和策略，包括线上和线下的营销活动、社交媒体策略、品牌故事传播等。我们致力于帮助客户在竞争激烈的市场中脱颖而出，树立与众不同的品牌形象，提升品牌认知度和影响力。
                通过全方位的品牌设计全案，我们旨在为客户提供一站式的品牌设计服务，助力他们建立强大、引人注目的品牌。无论是创立全新品牌还是重新定位现有品牌，我们将与客户紧密合作，打造出令人印象深刻的品牌体验。</p>
        </div>
        <p class="read-more" (click)="toggleExpansion()">{{ isExpanded ? '查看更少' : '查看更多' }}</p>
    </div>
    <div id="descriptionImage">
       <img id="imageSection1" src="../../../assets/images/description.png" alt="about">
    </div>
</div>
<div id="section2">
    <body>
        <div class="slider">
            <div class="item">
                <h1>Slide 1</h1>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere magni magnam unde ipsam repudiandae explicabo expedita labore, sequi minus neque beatae voluptatum, quasi accusamus quia quis voluptas laborum ad! Ab totam doloribus, excepturi possimus rem vel quia fugit molestiae officiis!
            </div>
            <div class="item">
                <h1>Slide 2</h1>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere magni magnam unde ipsam repudiandae explicabo expedita labore, sequi minus neque beatae voluptatum, quasi accusamus quia quis voluptas laborum ad! Ab totam doloribus, excepturi possimus rem vel quia fugit molestiae officiis!
            </div>
            <div class="item">
                <h1>Slide 3</h1>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere magni magnam unde ipsam repudiandae explicabo expedita labore, sequi minus neque beatae voluptatum, quasi accusamus quia quis voluptas laborum ad! Ab totam doloribus, excepturi possimus rem vel quia fugit molestiae officiis!
            </div>
            <div class="item">
                <h1>Slide 4</h1>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere magni magnam unde ipsam repudiandae explicabo expedita labore, sequi minus neque beatae voluptatum, quasi accusamus quia quis voluptas laborum ad! Ab totam doloribus, excepturi possimus rem vel quia fugit molestiae officiis!
            </div>
            <div class="item">
                <h1>Slide 5</h1>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere magni magnam unde ipsam repudiandae explicabo expedita labore, sequi minus neque beatae voluptatum, quasi accusamus quia quis voluptas laborum ad! Ab totam doloribus, excepturi possimus rem vel quia fugit molestiae officiis!
            </div>
            <div class="item">
                <h1>Slide 6</h1>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere magni magnam unde ipsam repudiandae explicabo expedita labore, sequi minus neque beatae voluptatum, quasi accusamus quia quis voluptas laborum ad! Ab totam doloribus, excepturi possimus rem vel quia fugit molestiae officiis!
            </div>
            <div class="item">
                <h1>Slide 7</h1>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere magni magnam unde ipsam repudiandae explicabo expedita labore, sequi minus neque beatae voluptatum, quasi accusamus quia quis voluptas laborum ad! Ab totam doloribus, excepturi possimus rem vel quia fugit molestiae officiis!
            </div>
            <button id="next">></button>
            <button id="prev"><</button>
        </div>
    </body>
</div>