<div id="ariane">
  <h2><b>{{ 'BOOK-PRINTING.ARIANE-H2' | translate }}</b></h2>
  <nav class="breadcrumb">
    <ul>
        <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
        <li>{{ 'BOOK-PRINTING.ARIANE-LI' | translate }}</li>
    </ul>
  </nav>  
</div>
<div id="planet">
    <img src="../../../assets/images/UIUX/planet.png" alt="planet">
    <div id="description">
        <p class="text" [ngClass]="selectedLanguage === 'CN' ? 'textLineHeight' : ''">{{ 'BOOK-PRINTING.TEXT' | translate }}</p>
        <button class="button button-1" routerLink='/contact'>{{ 'BOOK-PRINTING.CONTACT' | translate }}</button>
    </div>
</div>