<div id="ariane">
    <h2><b>包装作品</b></h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>宣传物料</li>
      </ul>
    </nav>  
 </div>
 <div id="section1">
    <div id="description">
        <h3>PORTFOLIO PACKAGING</h3>
        <h1><b>产品设计包装</b></h1>
        <div class="content" [ngStyle]="{ 'max-height': isExpanded ? 'none' : '200px', 'overflow': isExpanded ? 'visible' : 'hidden' }">
            <p id="text">包装在产品设计和销售中扮演着多重角色。它不仅保护产品免受损坏，还吸引消费者的目光并传达关键信息。通过独特的设计和品牌元素，包装建立起产品的形象和价值观，激发购买欲望。最终，优质的包装设计能够促进销售，使产品在竞争激烈的市场中脱颖而出，实现商业成功。</p>
        </div>
        <p class="read-more" (click)="toggleExpansion()">{{ isExpanded ? '取消' : '查看更多' }}</p>
    </div>
    <div id="descriptionImage">
       <img id="imageSection1" src="../../../../assets/images/marketing/marketing-three/1.png" alt="scene">
    </div>
</div>
<div class="section2">
    <div class="tuilesSection2" [ngClass]="{'tuiles2': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/product-one">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-three/2.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">Zipper</div>
                        </div>
                    
                </div>
            </a>
            <a routerLink="/product-two">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-three/3.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">觅糖</div>
                        </div>
                </div>
            </a>
            <a routerLink="/product-three">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-three/4.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">KARYOOSI</div>
                        </div>
                </div>
            </a>
        </div>
    </div>
    <div class="tuilesSection2" [ngClass]="{'tuiles3': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/product-four">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-three/5.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">鲜肉蒸饺</div>
                        </div>
                </div>
            </a>
            <a routerLink="/product-five">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-three/6.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">觅糖</div>
                        </div>
                </div>
            </a>
            <a routerLink="/product-six">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-three/7.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">觅糖</div>
                        </div>
                </div>
            </a>
        </div>     
    </div>
    <div class="tuilesSection2" [ngClass]="{'tuiles4': opacitySection2 === 1}">
      <div class="boxSection2">
          <a routerLink="/product-seven">
              <div class="container">
                  <img src="../../../../assets/images/marketing/marketing-three/8.png" alt="icone" class="image">
                      <div class="overlay">
                          <div class="textSection2">觅糖</div>
                      </div>
              </div>
          </a>
          <a routerLink="/product-eight">
              <div class="container">
                  <img src="../../../../assets/images/marketing/marketing-three/9.png" alt="icone" class="image">
                      <div class="overlay">
                          <div class="textSection2">灵果</div>
                      </div>
              </div>
          </a>
          <a routerLink="/product-nine">
              <div class="container">
                  <img src="../../../../assets/images/marketing/marketing-three/10.png" alt="icone" class="image">
                      <div class="overlay">
                          <div class="textSection2">APP</div>
                      </div>
              </div>
          </a>
      </div>     
    </div>
  </div>