<div id="ariane">
  <h2><b>{{ 'ABOUT.ARIANE-H2' | translate }}</b></h2>
  <nav class="breadcrumb">
    <ul>
        <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
        <li>{{ 'ABOUT.ARIANE-LI' | translate }}</li>
    </ul>
  </nav>  
</div>
<div id="section1">
    <div id="description">
        <h3>{{ 'GRAPHICS.H3' | translate }}</h3>
        <h1><b>{{ 'GRAPHICS.H1' | translate }}</b></h1>
        <div class="content" [ngStyle]="{ 'max-height': isExpanded ? 'none' : '195px', 'overflow': isExpanded ? 'visible' : 'hidden' }">
            <p>{{ 'GRAPHICS.CONTENT-ONE' | translate }}</p>
            <p>{{ 'GRAPHICS.CONTENT-TWO' | translate }}</p>
        </div>
        <p class="read-more" (click)="toggleExpansion()">{{ isExpanded ? ('EXPAND.IS-EXPANDED'| translate)  : ('EXPAND.NOT-EXPANDED' | translate) }}</p>
    </div>
    <div id="descriptionImage">
       <img id="imageSection1" src="../../../assets/images/description.png" alt="about">
    </div>
</div>
<div id="section2">
  <div class="button button--left" (click)="leftButtonClick()"><img id="arrowLeft" src="../../../assets/images/arrow_left.png" alt="arrow left"></div>
  <div class="button button--right" (click)="rightButtonClick()"><img id="arrowRight" src="../../../assets/images/arrow_right.png" alt="arrow right"></div>
  <ul class="carousel">
    <li class="item item--1" data-position="1" (click)="onItemClicked(0)">
      <img src="../../../assets/images/graphics/1.png" alt="CARD1 Image" />
      <div class="CARD1-content">
        <h3><b>{{ 'GRAPHICS.CARD-ONE' | translate }}</b></h3>
      </div>
    </li>
    <li class="item item--2" data-position="2" (click)="onItemClicked(1)">
      <img src="../../../assets/images/graphics/2.png" alt="CARD1 Image" />
      <div class="CARD1-content">
        <h3><b>{{ 'GRAPHICS.CARD-TWO' | translate }}</b></h3>
      </div>
    </li>
    <li class="item item--3" data-position="3" (click)="onItemClicked(2)">
      <img src="../../../assets/images/graphics/3.png" alt="CARD1 Image" />
      <div class="CARD1-content">
        <h3><b>{{ 'GRAPHICS.CARD-THREE' | translate }}</b></h3>
      </div>
    </li>

   <div class="bar" [ngClass]="{'barExtended': cardNumber === 2}"></div>

   <div id="card">
      <div class="position-text-1">
        <div class="position-ellipse-left">
          <div class="ellipse-exterieure">
            <div class="ellipse-interieure"></div>
          </div>
        </div>
        <div class="text-1" [innerHTML]="cards[cardNumber].title1 | translate"></div>
      </div>
      <div class="position-text-2">
        <div class="position-ellipse-left" *ngIf="position">
          <div class="ellipse-exterieure">
            <div class="ellipse-interieure"></div>
          </div>
        </div>
        <div class="text-2" [innerHTML]="cards[cardNumber].title2 | translate"></div>
        <div class="position-ellipse-right" *ngIf="!position">
          <div class="ellipse-exterieure">
            <div class="ellipse-interieure"></div>
          </div>
        </div>
      </div>
      <div class="position-text-3">
        <div class="position-ellipse-left">
          <div class="ellipse-exterieure">
            <div class="ellipse-interieure"></div>
          </div>
        </div>
        <div class="text-3" [innerHTML]="cards[cardNumber].title3 | translate"></div>
      </div>
      <div class="position-text-4">
        <div class="position-ellipse-left" *ngIf="position">
          <div class="ellipse-exterieure">
            <div class="ellipse-interieure"></div>
          </div>
        </div>
        <div class="text-4" [innerHTML]="cards[cardNumber].title4 | translate"></div>
        <div class="position-ellipse-right" *ngIf="!position">
          <div class="ellipse-exterieure">
            <div class="ellipse-interieure"></div>
          </div>
        </div>
      </div>
      <div class="position-text-5" *ngIf="cards[cardNumber].title5">
        <div class="position-ellipse-left">
          <div class="ellipse-exterieure">
            <div class="ellipse-interieure"></div>
          </div>
        </div>
        <div class="text-5" [innerHTML]="cards[cardNumber].title5 | translate"></div>
      </div>
      <div class="position-text-6" *ngIf="cards[cardNumber].title6">
        <div class="position-ellipse-left" *ngIf="position">
          <div class="ellipse-exterieure">
            <div class="ellipse-interieure"></div>
          </div>
        </div>
        <div class="text-6" [innerHTML]="cards[cardNumber].title6 | translate"></div>
        <div class="position-ellipse-right" *ngIf="!position">
          <div class="ellipse-exterieure">
            <div class="ellipse-interieure"></div>
          </div>
        </div>
      </div>
   </div>
  </ul>
</div>
