<div id="banner">
    <img src="../../../../assets/images/yuqianshan.png" alt="yuqianshan">    
</div>
<div id="section1" class="section1" [ngClass]="{'first': opacitySection1 === 1}">
    <div id="about">
        <h3>PORTFOLIO LOGO</h3>
        <h1>俞沁衫 - LOGO、产品设计</h1>
        <div class="content">
            <p><strong>2022作品</strong> - LOGO、VI手册、电商、产品漫画
                <br>
                <strong>设计师：</strong>大羊 
            </p>
        </div>
    </div>
    <div id="aboutImage">
       <img id="imageSection1" src="../../../../assets/images/IFDESIGN.png" alt="about">
    </div>
</div>
<div id="section2">
    <div id="part1">
        <p class="section2" [ngClass]="{'second': opacitySection2 === 1}">俞沁衫品牌原名为岚潮：有山则有水，以风水代之。岚与浪近音，取浪潮之意。顾客想对整个品牌进行重塑，体现品牌的独特性、潮流感和自由精神。将岚潮改为俞沁衫，想要做更加渗入人心的衣衫。一颗想“浪”的心作为一个个性化衣服品牌的独特魅力。</p>
        <div id="part1Images" class="section2" [ngClass]="{'secondTwo': opacitySection2 === 1}">
            <img src="../../../../assets/images/yuqinshan-logos.png" alt="yuqinshan-logos">
            <img id="arrow" src="../../../../assets/images/arrows.png" alt="arrows">
            <p>俞沁衫？？？</p>
        </div>
    </div>
    <div id="part2" class="section2" [ngClass]="{'second': opacitySection2 === 1}">
        <p>在和顾客箱子沟通后，我们通过对品牌名字的拆解和品牌的价值观的了解，我们希望通过以下方式展现品牌的核心概念：</p>
        <br>
        <ol>
            <li>"俞"的含义：将"俞"与"愈"联系起来，强调品牌的追求超越常规和更加出色的愿望。</li>
            <li>"沁"的含义：将"沁"与水相关联，通过"氵"作为象征水的符号，代表着渗入和流动的意义。同时，水的形象也与海浪联系在一起，强调品牌的潮流感。</li>
            <li>"衫"的含义：象征着衣服，代表品牌主营的衣着产品。</li>
            <li>图标的形状：将海浪和爱心结合在图标中，通过流畅的线条和柔和的形状，传达出自由、浪漫和热情的氛围。</li>
        </ol>
    </div>
    <div id="part3" class="section2" [ngClass]="{'secondTwo': opacitySection2 === 1}">
        <div id="part3Images">
            <div class="image-slide">
                <img src="../../../../assets/images/waves.png" alt="waves">
                <div class="caption">海浪形状参考</div>
            </div>
            <div class="image-slide">
                <img id="arrow1" class="arrows" src="../../../../assets/images/arrows.png" alt="arrows">
            </div>
            <div class="image-slide">
                <img src="../../../../assets/images/draw.png" alt="draw">
                <div class="caption">手画设计草稿</div>
            </div>
            <div class="image-slide">
                <img id="arrow2" class="arrows" src="../../../../assets/images/arrows.png" alt="arrows">
            </div>
            <div class="image-slide">
                <img src="../../../../assets/images/yuqinshan-logo.png" alt="yuqinshan-logo">
                <div class="caption">AI设计终稿</div>
            </div>
        </div>
    </div>
    <div id="part4" class="section2" [ngClass]="{'secondThree': opacitySection2 === 1}">
        <div id="logos">
            <div id="logo-list" class="logo-list" [ngClass]="{'logos': opacityLogos === 1}">
              <img draggable="false" *ngFor="let logo of logos" class="logo" [src]="logo.src" [alt]="logo.alt">
            </div>
        </div>                        
    </div>
</div>
<div id="section3">
    <h1 class="section3" [ngClass]="{'secondSixth': opacitySection3 === 1}">产品设计</h1>
    <p class="section3" [ngClass]="{'secondSixth': opacitySection3 === 1}">防疫熊猫 - 创意插画：“已打三针，绿码护身”<br>
        在这个特殊的时期，疫情防控已成为我们生活的重要一环。为了呼吁大家关注健康与安全，我们设计了一幅原创插画：“已打三针，绿码护身”。这幅插画以一个个鲜艳的彩色疫苗注射器和绿色的二维码为主题，寓意着我们积极接种疫苗的重要性和绿码在出行中的保护作用。这是我们远离病毒、守护自己和他人健康的象征。我们希望通过这幅插画，提醒大家重视疫情防控，积极接种疫苗，保持健康的生活方式。只有共同努力，才能让我们的社区、城市和国家远离病毒，重回正常的生活轨道。</p>
    <div id="parts">
        <div class="image-slide">
            <img src="../../../../assets/images/t-shirts/1.png" alt="t-shirt" class="section3" [ngClass]="{'secondFourth': opacitySection3 === 1}">
            <div class="caption">防疫熊猫（黑色）</div>
        </div>
        <div class="image-slide">
            <img src="../../../../assets/images/t-shirts/1.1.png" alt="t-shirt" class="section3" [ngClass]="{'secondFifth': opacitySection3 === 1}">
            <div class="caption">防疫熊猫（白色）</div>
        </div>
    </div>
    <br><br>
    <p class="section3" [ngClass]="{'secondSixth': opacitySection3 === 1}">趣味拼图小猫 - 原创拼图小猫，卡通和趣味结合<br>
        拼图，是我们大多数人童年时的美好回忆，它让我们在游戏中培养了耐心和观察力。而现在，我们为您带来一款原创拼图小猫，将卡通和趣味结合在一起。这只充满好奇心的小猫，好像我们每个人都曾经拥有的童年伙伴。它的眼睛充满了探索的光芒，它想要追寻并探视这个世界上的美好事物。这款拼图小猫以鲜艳的色彩和可爱的表情设计，让人忍不住想要动手完成它的拼图。每一块拼图都有独特的形状和图案，让您在拼图的过程中感受到乐趣和成就感。</p>
    <div id="parts">
        <div class="image-slide">
            <img src="../../../../assets/images/t-shirts/2.png" alt="t-shirt" class="section3" [ngClass]="{'secondFourth': opacitySection3 === 1}">
            <div class="caption">趣味拼图小猫（黑色）</div>
        </div>
        <div class="image-slide">
            <img src="../../../../assets/images/t-shirts/2.1.png" alt="t-shirt" class="section3" [ngClass]="{'secondFifth': opacitySection3 === 1}">
            <div class="caption">趣味拼图小猫（白色）</div>
        </div>
    </div>
    <br><br>
    <p class="section3" [ngClass]="{'secondSixth': opacitySection3 === 1}">个性摩托- 原创个性摩托，狂野与自由的象征<br>
        摩托车，是一种狂野和自由的象征，它代表了勇气和追求。在这个世界上，我们常常会被各种束缚所限制，但是我们依然要保持对生活的热爱。<br>
        这款原创个性摩托，以其独特的设计和个性化的外观，彰显了勇敢追寻自己梦想的精神。它散发着自由的气息，鼓励每个人勇敢去追求自己想要的生活。无论是在广阔的公路上飞驰，还是在城市的拥挤街道中穿行，这款个性摩托都将成为您的最佳伙伴。它的独特造型和强大动力，将带给您无尽的刺激和乐趣。不要被外界的压力和限制所束缚，勇敢地追寻您内心真正渴望的生活。让这款原创个性摩托成为您的坚定伴侣，驰骋在自由的道路上，释放您内心的狂野与激情。无论您是摩托车爱好者还是渴望自由的灵魂，这款原创个性摩托将为您带来非凡的体验和无尽的冒险。勇敢地踏上旅程，让狂野与自由伴随着您的每一步。</p>
    <div id="parts">
        <div class="image-slide">
            <img src="../../../../assets/images/t-shirts/3.png" alt="t-shirt" class="section3" [ngClass]="{'secondFourth': opacitySection3 === 1}">
            <div class="caption">机车（黑色）</div>
        </div>
        <div class="image-slide">
            <img src="../../../../assets/images/t-shirts/3.1.png" alt="t-shirt" class="section3" [ngClass]="{'secondFifth': opacitySection3 === 1}">
            <div class="caption">机车（白色）</div>
        </div>
    </div>
</div>
<div id="section4" class="section4" [ngClass]="{'secondSeventh': opacitySection4 === 1}">
    <div id="part4">
        <section class="product">
             <div class="container-fluid">
                 <div class="slider-wrap">
                     <div class="slider-main">
                         <div class="item">
                             <img src="../../../../assets/images/t-shirts/models/1.png" alt="model">
                         </div>
                         <div class="item">
                             <img src="../../../../assets/images/t-shirts/models/2.png" alt="model">
                         </div>
                         <div class="item">
                             <img src="../../../../assets/images/t-shirts/models/3.png" alt="model">
                         </div>
                         <div class="item">
                             <img src="../../../../assets/images/t-shirts/models/4.png" alt="model">
                         </div>
                         <div class="item">
                             <img src="../../../../assets/images/t-shirts/models/5.png" alt="model">
                         </div>
                     </div>
                     <div class="button-area">
                         <button type="button" class="prev" (click)="prevSlide()" [currentIndex]="currentIndex" appPrev></button>
                         <button type="button" class="next" (click)="nextSlide()" [currentIndex]="currentIndex" appNext></button>
                     </div>
                 </div>
                 <br>
                 <div class="slider-dots">
                     <span *ngFor="let image of images; let i = index" class="dot" [class.active]="i === currentIndex" (click)="goToSlide(i)"></span>
                 </div>
             </div>
        </section>
     </div>
</div>