<div id="ariane">
    <h2>品牌全案</h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>平面设计</li>
      </ul>
    </nav>  
 </div>
<div id="section1">
    <div id="description">
        <h3>PORTFOLIO BRANDING</h3>
        <h1>麒麟阁 - 品牌全案</h1>
        <div class="content">
            <p><strong>2020作品 -</strong> 品牌LOGO、VI设计、基础规范解释、应用场景设置、室内设计、海报设计、包装设计、美陈设计
                <br>
                <strong>设计师：</strong> 李迪
            </p>
        </div>
    </div>
    <div id="descriptionImage">
       <img id="imageSection1" src="../../../../assets/images/logos-design/logo-four/1.png" alt="product-one">
    </div>
</div>
<div id="section2" class="section2" [ngClass]="{'imagesSection2': opacitySection2 === 1}">
    <img src="../../../../assets/images/logos-design/logo-four/2.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/3.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/4.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/5.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/6.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/7.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/8.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/9.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/10.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/11.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/12.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/13.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/14.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/15.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/16.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/17.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/18.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/19.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/20.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/21.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/22.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/23.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/24.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/25.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/26.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/27.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/28.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/29.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/30.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-four/31.jpg" alt="" class="images">
</div>