<div id="ariane">
    <h2><b>电商作品</b></h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>宣传物料</li>
      </ul>
    </nav>  
 </div>
 <div id="section1">
    <div id="description">
        <h3>PORTFOLIO PACKAGING</h3>
        <h1><b>线上电商设计</b></h1>
        <div class="content" [ngStyle]="{ 'max-height': isExpanded ? 'none' : '200px', 'overflow': isExpanded ? 'visible' : 'hidden' }">
            <p id="text">淘宝店铺的装修涵盖了Banner、主图和详情页设计，这三个方面在电商运营中扮演着重要的角色。Banner是店铺首页的横幅广告，通常位于页面的顶部。优秀的Banner设计能够吸引用户的眼球，传递店铺的特色和促销信息。通过精心选择的图片、醒目的标题和引人注目的文字，Banner能够吸引用户进入店铺，增加页面停留时间，促进浏览和购买行为。<br>
                主图是展示商品的重要元素，位于商品列表和详情页中。主图设计需要注重产品的清晰度、色彩搭配和吸引力。通过精心拍摄或编辑的商品图片，以及有效的排版和标注，主图能够吸引用户点击进入详情页，并产生购买的兴趣。<br>
                详情页设计是展示商品详细信息和推动购买决策的关键环节。优秀的详情页设计需要结合清晰的图片、丰富的文字描述、规格参数和客户评价等元素，为用户提供全面的了解和购买参考。通过突出商品特点、引导用户的注意力和解答疑问，详情页设计能够增强用户的购买决心，提高转化率。<br>
                综上所述，淘宝店铺的装修中的Banner、主图和详情页设计是为了提升店铺形象、吸引用户、促进销售的重要环节。通过精心设计和优化这些要素，店铺能够吸引更多的目标用户，增加购买转化率，并取得良好的经营效果。</p>
        </div>
        <p class="read-more" (click)="toggleExpansion()">{{ isExpanded ? '取消' : '查看更多' }}</p>
    </div>
    <div id="descriptionImage">
       <img id="imageSection1" src="../../../../assets/images/marketing/marketing-five/1.png" alt="scene">
    </div>
</div>
<div class="section2">
    <div class="tuilesSection2" [ngClass]="{'tuiles2': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/e-commerce-one">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-five/2.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">FATESKY 香氛沐浴露</div>
                        </div>
                    
                </div>
            </a>
            <a routerLink="/e-commerce-two">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-five/3.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">CAN CAR小程序</div>
                        </div>
                </div>
            </a>
            <a routerLink="/e-commerce-three">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-five/4.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">南甸家政小程序</div>
                        </div>
                </div>
            </a>
        </div>
    </div>
    <div class="tuilesSection2" [ngClass]="{'tuiles3': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/e-commerce-four">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-five/5.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">俞沁衫淘宝店铺</div>
                        </div>
                </div>
            </a>
            <a routerLink="/e-commerce-five">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-five/6.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">除醛服务</div>
                        </div>
                </div>
            </a>
            <!-- <a routerLink="/e-commerce-six"> -->
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-five/7.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">灯具</div>
                        </div>
                </div>
            <!-- </a> -->
        </div>     
    </div>
  </div>