<div id="ariane">
    <h2>隐私政策</h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>首页</li>
      </ul>
    </nav>  
</div>
<div id="text-container">
    <p>
        欢迎您访问我们的设计工作室！我们十分重视您的隐私保护，并承诺保护您的个人信息安全。我们仅在您主动联系我们时，收集您的个人信息，目的是为了更好地回应您的咨询和服务需求<br>
        个人信息收集<br>
        您可通过电子邮件、电话或其他联系方式主动向我们提供个人信息。这些信息可能包括您的姓名、电子邮件地址、联系电话等。在您与我们联系时，您的信息将被收集用于更好地了解您的需求和意向，以便向您提供量身定制的设计服务<br>
        信息使用 <br>
        我们仅会使用您提供的个人信息来回应您的咨询、需求或项目要求。在我们提供设计服务过程中，我们可能会与您沟通以确保我们全面了解您的需求，并为您量身定制最合适的设计解决方案。<br>
        信息共享 <br>
        我们郑重承诺，绝不会未经您的明确同意将您的个人信息共享给任何第三方。您提供给我们的个人信息将仅在设计服务和相关业务处理过程中使用。<br>
        信息保护 <br>
        我们采取各种技术和安全措施来保护您的个人信息，防止未经授权的访问、泄露、篡改或损坏。我们的团队都受到严格的保密义务，确保您的个人信息得到妥善保护。<br>
        隐私权政策变更 <br>
        我们可能会根据需要对隐私政策进行更新和修改，并在我们的网站上及时发布更新的版本。在使用我们的服务之前，请查看最新版本的隐私政策。<br>
        如果您对我们的隐私政策有任何疑问或需要了解更多信息，请随时联系我们。再次感谢您选择我们的设计工作室，我们期待与您合作！
    </p>
</div>