<div id="ariane">
  <h2>LOGO设计案例</h2>
  <nav class="breadcrumb">
    <ul>
        <li><a href="home"><img id="home" src="../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
        <li>LOGO设计案例</li>
    </ul>
  </nav>  
</div>
<div id="section1">
  <div id="about">
      <h3>PORTFOLIO LOGO</h3>
      <h1>品牌认知 - LOGO</h1>
      <div class="content">
          <p style="text-align: justify;">在品牌认知中，LOGO具有重要的作用和意义。它是品牌的视觉代表，是消费者对品牌的第一印象和联想。一个好的logo能够传达品牌的核心价值、个性特点和品牌形象，有效地吸引目标受众的注意力，并与他们建立情感联系。
            <br><br>
            Logo的设计要考虑品牌的定位和目标受众。它需要具备独特性和识别度，能够在竞争激烈的市场中脱颖而出。通过巧妙的图形、字体和颜色运用，logo能够传递品牌的价值主张、产品特点和风格特征。  
          </p>
      </div>
  </div>
  <div id="aboutImage">
     <img id="imageSection1" src="../../../assets/images/logos-design/logo.png" alt="about">
  </div>
</div>
<div class="section2">
  <div class="tuilesSection2" [ngClass]="{'tuiles2': opacitySection2 === 1}">
      <div class="boxSection2">
          <a routerLink="/logo-one">
              <div class="container">
                  <img src="../../../assets/images/logos-design/1.png" alt="icone" class="image">
                      <div class="overlay">
                          <div class="textSection2">Hello World</div>
                      </div>
                  
              </div>
          </a>
          <a href="#">
              <div class="container">
                  <img src="../../../assets/images/logos-design/2.png" alt="icone" class="image">
                      <div class="overlay">
                          <div class="textSection2">Hello World</div>
                      </div>
              </div>
          </a>
          <a href="#">
              <div class="container">
                  <img src="../../../assets/images/logos-design/3.png" alt="icone" class="image">
                      <div class="overlay">
                          <div class="textSection2">Hello World</div>
                      </div>
              </div>
          </a>
      </div>
  </div>
  <div class="tuilesSection2" [ngClass]="{'tuiles3': opacitySection2 === 1}">
      <div class="boxSection2">
          <a href="#">
              <div class="container">
                  <img src="../../../assets/images/logos-design/4.png" alt="icone" class="image">
                      <div class="overlay">
                          <div class="textSection2">Hello World</div>
                      </div>
              </div>
          </a>
          <a href="#">
              <div class="container">
                  <img src="../../../assets/images/logos-design/5.png" alt="icone" class="image">
                      <div class="overlay">
                          <div class="textSection2">Hello World</div>
                      </div>
              </div>
          </a>
          <a href="#">
              <div class="container">
                  <img src="../../../assets/images/logos-design/6.png" alt="icone" class="image">
                      <div class="overlay">
                          <div class="textSection2">Hello World</div>
                      </div>
              </div>
          </a>
      </div>     
  </div>
  <div class="tuilesSection2" [ngClass]="{'tuiles4': opacitySection2 === 1}">
    <div class="boxSection2">
        <a href="#">
            <div class="container">
                <img src="../../../assets/images/latest_4.png" alt="icone" class="image">
                    <div class="overlay">
                        <div class="textSection2">Hello World</div>
                    </div>
            </div>
        </a>
        <a href="#">
            <div class="container">
                <img src="../../../assets/images/latest_5.png" alt="icone" class="image">
                    <div class="overlay">
                        <div class="textSection2">Hello World</div>
                    </div>
            </div>
        </a>
        <a href="#">
            <div class="container">
                <img src="../../../assets/images/latest_6.png" alt="icone" class="image">
                    <div class="overlay">
                        <div class="textSection2">Hello World</div>
                    </div>
            </div>
        </a>
    </div>     
  </div>
</div>