<div id="ariane">
    <h2>品牌全案</h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>平面设计</li>
      </ul>
    </nav>  
 </div>
<div id="section1">
    <div id="description">
        <h3>PORTFOLIO LOGO</h3>
        <h1>麓枫酒店 - LOGO设计</h1>
        <div class="content">
            <p><strong>2020作品 -</strong> LOGO设计、VI设计、基础规范解释、应用场景设置
                <br>
                <strong>设计师：</strong> 李迪
            </p>
        </div>
    </div>
    <div id="descriptionImage">
       <img id="imageSection1" src="../../../../assets/images/logos-design/logo-five/1.png" alt="product-one">
    </div>
</div>
<div id="section2" class="section2" [ngClass]="{'imagesSection2': opacitySection2 === 1}">
    <img src="../../../../assets/images/logos-design/logo-five/2.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/3.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/4.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/5.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/6.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/7.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/8.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/9.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/10.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/11.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/12.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/13.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/14.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/15.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/16.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/17.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/18.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/19.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/20.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/21.jpg" alt="" class="images">
    <img src="../../../../assets/images/logos-design/logo-five/22.jpg" alt="" class="images">
</div>