<div id="ariane">
    <h2>LOGO设计</h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>平面设计</li>
      </ul>
    </nav>  
 </div>
 <div id="section1">
    <div id="description">
        <h3>PORTFOLIO VI</h3>
        <h1>柠檬之间 - VI手册设计</h1>
        <div class="content">
            <p><strong>2023作品 -</strong> VI设计、基础规范解释、应用场景设置
                <br>
                <strong>设计师：</strong> 大羊
            </p>
        </div>
    </div>
    <div id="descriptionImage">
       <img id="imageSection1" src="../../../../assets/images/logos-design/logo-two/1.png" alt="art-one">
    </div>
</div>
<div id="section2" class="section2" [ngClass]="{'imagesSection2': opacitySection2 === 1}">
    <img src="../../../../assets/images/logos-design/logo-two/2.png" alt="" class="images">
</div>