<div id="ariane">
    <img src="../../../../assets/images/products/product-six/1.png" alt="logo">
 </div>
 <div id="section1">
    <div id="description">
        <h3>PORTFOLIO PACKAGING</h3>
        <h1><b>觅糖 - 牛皮纸袋设计</b></h1>
        <div class="content">
            <p><strong>2022作品 -</strong> 包装设计、产品渲染
                <br>
                <strong>设计师：</strong> 地球村
                <br>
                <strong>3D渲染：</strong> 乃青
            </p>
        </div>
    </div>
    <div id="descriptionImage">
       <img id="imageSection1" src="../../../../assets/images/products/product-six/2.png" alt="product-six">
    </div>
</div>
<div id="section2" class="section2" [ngClass]="{'imagesSection2': opacitySection2 === 1}">
    <img src="../../../../assets/images/products/product-six/3.png" alt="" class="images">
    <img src="../../../../assets/images/products/product-six/4.png" alt="" class="images">
    <img src="../../../../assets/images/products/product-six/5.png" alt="" class="images">
    <img src="../../../../assets/images/products/product-six/6.png" alt="" class="images">
    <img src="../../../../assets/images/products/product-six/7.png" alt="" class="images">
</div>