<div id="ariane">
    <h2><b>最新案例</b></h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>平面设计</li>
      </ul>
    </nav>  
  </div>
  <div id="section1">
    <div id="about">
        <h3>NEWEST WORKS</h3>
        <h1><b>最新作品</b></h1>
        <div class="content">
            <p style="text-align: justify;">我们的设计工作室为客户提供全方位的设计服务，包括品牌形象设计、平面设计、插画创作等。通过查阅我们的作品集，您将深入了解我们团队的创意和设计风格，以及我们为客户创造的各种视觉效果和沟通支持。<br>
                我们的设计团队秉承创意为灵感，专注于为客户提供优质的设计解决方案。我们深知设计在品牌传播中的重要性，因此努力创作独具特色且吸引人的视觉效果，以赢得客户更多关注和认可。我们期待继续为更多客户创作出精彩的设计作品，助力专属您的品牌形象。  
            </p>
        </div>
    </div>
    <div id="aboutImage">
       <img id="imageSection1" src="../../../assets/images/newest-works/newest-work-one/logo.png" alt="about">
    </div>
  </div>
  <div class="section2">
    <div class="tuilesSection2" [ngClass]="{'tuiles2': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/logo-four">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/1.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">麒麟阁</div>
                        </div>
                    
                </div>
            </a>
            <a routerLink="/logo-two">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/2.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">柠檬之间</div>
                        </div>
                </div>
            </a>
            <a routerLink="/logo-three">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/3.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">歌乐美家居</div>
                        </div>
                </div>
            </a>
        </div>
    </div>
    <div class="tuilesSection2" [ngClass]="{'tuiles3': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/product-four">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/4.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">鲜肉蒸饺</div>
                        </div>
                </div>
            </a>
            <a routerLink="/product-seven">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/5.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">复旦新闻馆</div>
                        </div>
                </div>
            </a>
            <a routerLink="/product-nine">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/6.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">Golden Mango</div>
                        </div>
                </div>
            </a>
        </div>     
    </div>
    <div class="tuilesSection2" [ngClass]="{'tuiles4': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/flyer-six">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/7.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">渔民公馆</div>
                        </div>
                    
                </div>
            </a>
            <a routerLink="/flyer-four">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/8.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">L’étape Tour de France</div>
                        </div>
                </div>
            </a>
            <a routerLink="/flyer-five">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/9.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">新华莎罗雅</div>
                        </div>
                </div>
            </a>
        </div>
    </div>
    <div class="tuilesSection2" [ngClass]="{'tuiles5': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/e-commerce-one">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/10.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">FATESKY</div>
                        </div>
                </div>
            </a>
            <a routerLink="/e-commerce-four">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/11.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">俞沁衫</div>
                        </div>
                </div>
            </a>
            <a routerLink="/e-commerce-five">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/12.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">除醛服务</div>
                        </div>
                </div>
            </a>
        </div>     
    </div>
    <div class="tuilesSection2" [ngClass]="{'tuiles6': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/cultural-wall-one">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/13.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">五星服务</div>
                        </div>
                    
                </div>
            </a>
            <a routerLink="/cultural-wall-two">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/14.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">竹芒科技</div>
                        </div>
                </div>
            </a>
            <a routerLink="/cultural-wall-five">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/15.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">湖南广告公司</div>
                        </div>
                </div>
            </a>
        </div>
    </div>
    <div class="tuilesSection2" [ngClass]="{'tuiles7': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/marketing-flyer-six">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/16.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">防抑郁</div>
                        </div>
                </div>
            </a>
            <a routerLink="/marketing-flyer-three">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/17.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">福虎生威</div>
                        </div>
                </div>
            </a>
            <a routerLink="/marketing-flyer-five">
                <div class="container">
                    <img src="../../../assets/images/newest-works/newest-work-one/18.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">54青年节</div>
                        </div>
                </div>
            </a>
        </div>     
    </div>
  </div>