<div id="ariane">
    <h2>海报设计</h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>平面设计</li>
      </ul>
    </nav>  
 </div>
<div id="section1" class="section1" [ngClass]="{'first': opacitySection1 === 1}">
    <div class="about">
        <h3>PORTFOLIO POSTER</h3>
        <h1>地下铁健身馆 - 海报设计</h1>
        <div class="content">
            <p><strong>2022作品 - </strong>海报设计
                <br>
                <strong>设计师：</strong>大羊 
            </p>
        </div>
    </div>
    <div class="aboutImage">
       <img class="imageSection1" src="../../../../assets/images/marketing/flyer/four/1.png" alt="about">
    </div>
</div>
<div class="section2">
    <div class="tuilesSection2" [ngClass]="{'tuiles2': opacitySection2 === 1}">
        <div class="boxSection2">
            <div class="container">
                <img src="../../../../assets/images/marketing/flyer/four/2.png" alt="icone" class="image">
                
            </div>
            <div class="container">
                <img src="../../../../assets/images/marketing/flyer/four/3.png" alt="icone" class="image">
            </div>
            <div class="container">
                <img src="../../../../assets/images/marketing/flyer/four/4.png" alt="icone" class="image">
            </div>
        </div>
    </div>
  </div>
<div id="section3" class="section1" [ngClass]="{'first': opacitySection1 === 1}">
    <div class="about">
        <h3>PORTFOLIO POSTER</h3>
        <h1>书法班 - 海报设计</h1>
        <div class="content">
            <p><strong>2022作品 - </strong>海报设计
                <br>
                <strong>设计师：</strong>大羊 
            </p>
        </div>
    </div>
    <div class="aboutImage">
       <img class="imageSection1" src="../../../../assets/images/marketing/flyer/four/5.png" alt="about">
    </div>
</div>
<div class="section2">
    <div class="tuilesSection2" [ngClass]="{'tuiles3': opacitySection2 === 1}">
        <div class="boxSection2">
            <div class="container">
                <img src="../../../../assets/images/marketing/flyer/four/6.png" alt="icone" class="image">
            </div>
            <div class="container">
                <img src="../../../../assets/images/marketing/flyer/four/7.png" alt="icone" class="image">
            </div>
            <div class="container">
                <img src="../../../../assets/images/marketing/flyer/four/8.png" alt="icone" class="image">
            </div>
        </div>     
    </div>
</div>
<div id="section4" class="section1" [ngClass]="{'first': opacitySection1 === 1}">
    <div class="about">
        <h3>PORTFOLIO POSTER</h3>
        <h1>社区朝暮 - 海报设计</h1>
        <div class="content">
            <p><strong>2022作品 - </strong>海报设计
                <br>
                <strong>设计师：</strong>大羊 
            </p>
        </div>
    </div>
    <div class="aboutImage">
       <img class="imageSection1" src="../../../../assets/images/marketing/flyer/four/9.png" alt="about">
    </div>
</div>
<div class="section2">
    <div class="tuilesSection2" [ngClass]="{'tuiles3': opacitySection2 === 1}">
        <div class="boxSection2">
            <div class="container">
                <img src="../../../../assets/images/marketing/flyer/four/10.png" alt="icone" class="image">
            </div>
            <div class="container">
                <img src="../../../../assets/images/marketing/flyer/four/11.png" alt="icone" class="image">
            </div>
            <div class="container">
                <img src="../../../../assets/images/marketing/flyer/four/12.png" alt="icone" class="image">
            </div>
        </div>     
    </div>
</div>