<div id="ariane">
    <h2><b>{{ 'MARKETING-FLYER.ARIANE-H2' | translate }}</b></h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>{{ 'MARKETING-FLYER.ARIANE-LI' | translate }}</li>
      </ul>
    </nav>  
 </div>
<div id="section1" class="section1" [ngClass]="{'first': opacitySection1 === 1}">
    <div class="about">
        <h3>{{ 'MARKETING-FLYER.SECTION1-DESCRIPTION-H3' | translate }}</h3>
        <h1 [innerHTML]="descriptionH1 | translate"></h1>
        <div class="content">
            <p [innerHTML]="contentP | translate"></p>
        </div>
    </div>
    <div class="aboutImage">
       <img class="imageSection1" src="../../../../assets/images/marketing/flyer/six/1.png" alt="about">
    </div>
</div>
<div class="section2">
    <div class="tuilesSection2" [ngClass]="{'tuiles2': opacitySection2 === 1}">
        <div class="boxSection2">
            <div class="container">
                <img src="../../../../assets/images/marketing/flyer/six/2.png" alt="icone" class="image">
                
            </div>
            <div class="container">
                <img src="../../../../assets/images/marketing/flyer/six/3.png" alt="icone" class="image">
            </div>
            <div class="container">
                <img src="../../../../assets/images/marketing/flyer/six/4.png" alt="icone" class="image">
            </div>
        </div>
    </div>
</div>