@font-face {
    font-family: 'PingFang';
    src: url('../../../../assets/font/PingFang.woff') format('woff');
} 
  
* {
    font-family: 'PingFang', sans-serif;
}

#home{
    position: relative;
    top: 2px;
}

#ariane {
    background-color: #EFEFEF;
    padding-top: 60px;
    margin-top: 65px;
    padding-bottom: 65px;
}

h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
}

.breadcrumb {
    padding: 10px;
}
  
.breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.breadcrumb li {
    display: inline;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.breadcrumb li:not(:last-child)::after {
    content: "/";
    margin: 0 5px;
    color: #999;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

#section1 {
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: center;
    padding-top: 99px;
    padding-bottom: 117px;
}

h3{
    font-size: 14px;
    font-weight: 400;
}
  
#description {
    padding-right: 450px;
}
  
#description h1 {
    font-size: 32px;
    font-weight: 400;
}
  
#description p {
    font-size: 20px;
    line-height: 30px;
}
  
.content {
    transition: max-height 0.3s ease-in-out;
}
  
.read-more {
    padding-top: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 8px;
}
  
#imageSection1 {
    width: 496px;
    height: 372px;
}

//section2
#section2{
    padding-left: 260px;
    padding-right: 260px;
    padding-bottom: 750px;
    text-align: center;
}

.horizontal-image-container {
    position: relative;
    display: inline-block;
}
  
.horizontal-image {
    display: block;
    width: 100%;
    height: auto;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}
  
.text {
    color: white;
    margin-bottom: 8px;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.vertical-bar-container {
    position: absolute;
    top: 130%;
    left: 12%;
}

.vertical-bar {
    border-top: 284px solid #000;
    display: block;
    width: 1px;
}

.vertical-hamburger-container {
    position: absolute;
    top: 195%;
    left: 12%;
}

.vertical-hamburger {
    display: block;
    width: 100%;
    height: auto;
}

.vertical-image-container {
    position: absolute;
    top: 130%;
    right: 10%;
    transform: translateY(-50%);
    border-radius: 10px;
    border: 5px solid white;
    box-shadow: 0 0 5px 5px rgba(3, 3, 3, 0.1);
    overflow: hidden;
}

.vertical-image {
    display: block;
    width: 100%;
    height: auto;
}

.effect-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(228, 218, 204, 0.80);
}

//section3
#section3 {
    padding-bottom: 100px;
}

#color {
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-container {
    line-height: 1px;
}

.color {
    color: #333;
    font-family: Arial;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-right: 100px;
}

.color-padding {
    color: #D2D2D2;
    font-family: PingFang SC;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: -60px;
    left: 5px;
}

.ellipse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    padding-right: 100px;
}

.ellipse-text {
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  
//section4
#section4{
    max-width: 1300px;
    height: 2000px;
    background-color: #EDE5D8;
    margin: 0 auto;
}

.image-container {
    display: flex;
}

.image-container-two {
    position: relative;
    right: 430px;
}

.image-container-three {
    position: relative;
    right: 855px;
    top: 0;
}

.image-container-four {
    position: relative;
    right: 1460px;
    top: 355px;
}

.image-container-five {
    position: relative;
    right: 1736px;
    top: -215px;
}

@media screen and (max-width: 1850px) {
    #section1 {
        padding-top: 153px;
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media screen and (max-width: 1650px) {
    #section1 {
        padding-top: 153px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 1550px) {
    #description {
        padding-right: 320px;
    }
}

@media screen and (max-width: 1400px) {
    #description p{
        font-size: 17px;
        line-height: 20px;
    }

    #description {
        padding-right: 220px;
    }

    #imageSection1{
        width: 475px;
        height: 325px;
    }
}

@media screen and (max-width: 1300px) {  
    h2{
        font-size: 30px;
    }

    .content {
        max-height: none;
        overflow: visible;
    }

    .read-more {
        display: none;
    }
    
    #descriptionImage {
        padding-top: 50px;
        text-align: center;
    }
    
    #section1 {
        display: table;
        margin: 0 auto;
        padding-top: 75px;
        padding-left: 0;
        padding-right: 0;
    }
    
    #description{
        padding-right: 0;
    }

    #description h3, h1 {
        text-align: center;
    }

    .content {
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }

    .images {
        width: 1000px;
    }
}

@media screen and (max-width: 1050px) { 
    .images {
        width: 700px;
    }
}

@media screen and (max-width: 750px) { 
    .images {
        width: 475px;
    }
}

@media screen and (max-width: 500px) { 
    #section1 {
        padding-top: 25px;
    }

    #description h1{
        font-size: 20px;
    }

    #imageSection1{
        width: 280px;
        height: 210px;
    }

    .content {
        padding-left: 25px;
        padding-right: 25px;
    }

    #ariane img {
        width: 250px;
    }

    .images {
        width: 280px;
    }
}