@font-face {
    font-family: 'PingFang';
    src: url('../../../../assets/font/PingFang.woff') format('woff');
} 
  
* {
    font-family: 'PingFang', sans-serif;
}

#home{
    position: relative;
    top: 2px;
}

#ariane {
    background-color: #EFEFEF;
    padding-top: 60px;
    margin-top: 65px;
    padding-bottom: 65px;
}

h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
}

.breadcrumb {
    padding: 10px;
}
  
.breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.breadcrumb li {
    display: inline;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.breadcrumb li:not(:last-child)::after {
    content: "/";
    margin: 0 5px;
    color: #999;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

#section1 {
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: center;
    padding-top: 99px;
    padding-bottom: 117px;
}

h3{
    font-size: 14px;
    font-weight: 400;
}
  
#description {
    padding-right: 450px;
}
  
#description h1 {
    font-size: 32px;
    font-weight: 400;
}
  
#description p {
    font-size: 20px;
    line-height: 30px;
}
  
.content {
    transition: max-height 0.3s ease-in-out;
}
  
.read-more {
    padding-top: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 8px;
}
  
#imageSection1 {
    width: 496px;
    height: 372px;
}

//section2
#section2{
    padding-left: 260px;
    padding-right: 260px;
    padding-bottom: 750px;
    text-align: center;
}

.horizontal-image-container {
    position: relative;
    display: inline-block;
}
  
.horizontal-image {
    display: block;
    width: 100%;
    height: auto;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}
  
.text {
    color: white;
    margin-bottom: 8px;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.vertical-bar-container {
    position: absolute;
    top: 130%;
    left: 12%;
}

.vertical-bar {
    border-top: 284px solid #000;
    display: block;
    width: 1px;
}

.vertical-hamburger-container {
    position: absolute;
    top: 195%;
    left: 12%;
}

.vertical-hamburger {
    display: block;
    width: 100%;
    height: auto;
}

.vertical-image-container {
    position: absolute;
    top: 130%;
    right: 10%;
    transform: translateY(-50%);
    border-radius: 10px;
    border: 5px solid white;
    box-shadow: 0 0 5px 5px rgba(3, 3, 3, 0.1);
    overflow: hidden;
}

.vertical-image {
    display: block;
    width: 100%;
    height: auto;
}

.effect-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(228, 218, 204, 0.80);
}

//section3
#section3 {
    padding-bottom: 100px;
}

svg {
    width: 156px;
    height: 156px;
}

#color {
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-container {
    line-height: 1px;
}

.color {
    color: #333;
    font-family: Arial;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-right: 100px;
}

.color-padding {
    color: #D2D2D2;
    font-family: PingFang SC;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: -60px;
    left: 5px;
}

.ellipse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    padding-right: 100px;
}

.ellipse-text {
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  
//section4
#section4{
    max-width: 1291px;
    height: 16550px;
    background-color: #EDE5D8;
    margin: 0 auto;
}

.product-name {
    padding-left: 150px;
    margin-top: -250px
}

.product-name-two {
    padding-left: 150px;
}

.product-master{
    color: #FFF;
    font-family: Arial;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.product-master-sub {
    color: #FFF;
    font-family: PingFang SC;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: -50px;
}

hr {
    border: none;
    height: 0.5px;
    background-color: white;
    width: 991px;
    margin-top: -50px;
}

.image-container {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 200px;
}

.image-six {
    max-width: 1000px;
}

.product-three {
    text-align: center;
}

@media screen and (max-width: 1850px) {
    #section1 {
        padding-top: 153px;
        padding-left: 200px;
        padding-right: 200px;
    }

    #section2{
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media screen and (max-width: 1650px) {
    #section1 {
        padding-top: 153px;
        padding-left: 100px;
        padding-right: 100px;
    }

    #section2{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 1550px) {
    #description {
        padding-right: 320px;
    }
}

@media screen and (max-width: 1500px) {
    #section1 {
        padding-left: 50px;
        padding-right: 50px;
    }

    #section2{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 1400px) {
    #section2 {
        padding-bottom: 550px;
    }

    #section4{
        height: 14350px;
    }

    #description p{
        font-size: 17px;
        line-height: 20px;
    }

    #description {
        padding-right: 220px;
    }

    #imageSection1{
        width: 475px;
        height: 325px;
    }

    .horizontal-image {
        width: 1000px;
    }
    
    .vertical-image {
        width: 400px;
    }

    .vertical-bar-container {
        top: 120%;
        left: 12%;
    }
    
    .vertical-hamburger-container {
        top: 195%;
        left: 12%;
    }

    svg {
        width: 106px;
        height: 106px;
    }

    .color {
        font-size: 50px;
        font-weight: 900;
    }
    
    .color-padding {
        font-size: 25px;
        font-weight: 400;
        top: -60px;
        left: 5px;
    }
    
    .ellipse-container {
        padding-top: 140px;
        padding-right: 100px;
    }
    
    .ellipse-text {
        font-size: 20px;
        font-weight: 400;
    }

    #section4{
        max-width: 1000px;
    }
    
    .image-four {
        max-width: 1000px;
    }

    .image-five {
        max-width: 800px;
    }

    .image-six {
        max-width: 700px;
    }

    .product-name {
        padding-left: 150px;
        margin-top: -200px
    }
    
    .product-name-two {
        padding-left: 150px;
    }
    
    .product-master{
        font-size: 50px;
        font-weight: 900;
    }
    
    .product-master-sub {
        font-size: 40px;
        font-weight: 400;
        top: -50px;
    }
    
    hr {
        width: 701px;
        margin-top: -50px;
    }
}

@media screen and (max-width: 1300px) {  
    h2{
        font-size: 30px;
    }

    .content {
        max-height: none;
        overflow: visible;
    }

    .read-more {
        display: none;
    }
    
    #descriptionImage {
        padding-top: 50px;
        text-align: center;
    }
    
    #section1 {
        display: table;
        margin: 0 auto;
        padding-top: 75px;
        padding-left: 0;
        padding-right: 0;
    }
    
    #description{
        padding-right: 0;
    }

    #description h3, h1 {
        text-align: center;
    }

    .content {
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }

    .images {
        width: 1000px;
    }
}

@media screen and (max-width: 1150px) { 
    #section2 {
        padding-bottom: 300px;
    }

    #section4{
        height: 9750px;
    }

    .image-container {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .horizontal-image {
        width: 600px;
    }
    
    .vertical-image {
        width: 200px;
    }

    .vertical-bar-container {
        top: 120%;
        left: 12%;
    }

    .vertical-bar {
        border-top: 134px solid #000;
    }
    
    .vertical-hamburger-container {
        top: 185%;
        left: 12%;
    }

    .vertical-hamburger {
        width: 70%;
    }

    svg {
        width: 56px;
        height: 56px;
    }

    .color {
        font-size: 30px;
        padding-right: 50px;
    }
    
    .color-padding {
        font-size: 15px;
        top: -35px;
        left: 2px;
    }
    
    .ellipse-container {
        padding-top: 100px;
        padding-right: 50px;
    }
    
    .ellipse-text {
        font-size: 15px;
    }

    #section4{
        max-width: 600px;
    }
    
    .image-four {
        max-width: 600px;
    }

    .image-five {
        max-width: 400px;
    }

    .image-six {
        max-width: 500px;
    }

    .product-name {
        padding-left: 50px;
        margin-top: -100px
    }
    
    .product-name-two {
        padding-left: 50px;
    }
    
    .product-master{
        font-size: 25px;
    }
    
    .product-master-sub {
        font-size: 15px;
        font-weight: 400;
        top: -20px;
    }
    
    hr {
        width: 501px;
        margin-top: -20px;
    }
}

@media screen and (max-width: 1050px) { 
    .images {
        width: 700px;
    }
}

@media screen and (max-width: 750px) { 
    #section2 {
        padding-bottom: 250px;
    }

    #section3 {
        padding-bottom: 50px;
    }

    #section4{
        height: 6150px;
    }

    #imageSection1{
        width: 375px;
        height: 225px;
    }

    .images {
        width: 475px;
    }

    .horizontal-image {
        width: 400px;
    }
    
    .vertical-image {
        width: 150px;
    }

    .text-container {
        left: 50px;
    }
      
    .text {
        font-size: 20px;
    }

    .vertical-bar-container {
        top: 120%;
        left: 12%;
    }

    .vertical-bar {
        border-top: 84px solid #000;
    }
    
    .vertical-hamburger-container {
        top: 185%;
        left: 12%;
    }

    .vertical-hamburger {
        width: 50%;
    }

    svg {
        width: 36px;
        height: 36px;
    }

    .color {
        font-size: 20px;
        padding-right: 20px;
    }
    
    .color-padding {
        font-size: 10px;
        top: -25px;
    }
    
    .ellipse-container {
        padding-top: 70px;
        padding-right: 40px;
    }
    
    .ellipse-text {
        font-size: 10px;
    }

    #section4{
        max-width: 400px;
    }
    
    .image-four {
        max-width: 400px;
    }

    .image-five {
        max-width: 300px;
    }

    .image-six {
        max-width: 300px;
    }

    .product-name {
        padding-left: 25px;
        margin-top: -100px
    }
    
    .product-name-two {
        padding-left: 25px;
    }
    
    .product-master{
        font-size: 20px;
    }
    
    .product-master-sub {
        font-size: 10px;
        top: -20px;
    }
    
    hr {
        width: 351px;
        margin-top: -20px;
    }
}

@media screen and (max-width: 550px) { 
    #section1 {
        padding-top: 25px;
    }

    #section2 {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 150px;
    }

    #section4{
        height: 3750px;
        max-width: 250px;
    }

    .image-container {
        padding-top: 30px;
        padding-bottom: 70px;
    }

    #description h1{
        font-size: 20px;
    }

    #imageSection1{
        width: 250px;
        height: 180px;
    }

    .content {
        padding-left: 25px;
        padding-right: 25px;
    }

    .images {
        width: 250px;
    }

    .horizontal-image {
        width: 250px;
    }
    
    .vertical-image {
        width: 80px;
    }

    .text-container {
        left: 35px;
    }
      
    .text {
        font-size: 15px;
    }

    .vertical-bar-container {
        top: 120%;
        left: 12%;
    }

    .vertical-bar {
        border-top: 34px solid #000;
    }
    
    .vertical-hamburger-container {
        top: 165%;
        left: 12%;
    }

    .vertical-hamburger {
        width: 30%;
    }

    svg {
        width: 26px;
        height: 26px;
    }

    .color {
        font-size: 15px;
        padding-right: 0;
    }
    
    .color-padding {
        font-size: 10px;
        top: -20px;
    }
    
    .ellipse-container {
        padding-top: 50px;
        padding-right: 10px;
    }
    
    .ellipse-text {
        font-size: 7px;
    }
    
    .image-four {
        max-width: 250px;
    }

    .image-five {
        max-width: 180px;
    }

    .image-six {
        max-width: 180px;
    }

    .product-name {
        padding-left: 15px;
        margin-top: -50px
    }
    
    .product-name-two {
        padding-left: 25px;
    }
    
    .product-master{
        font-size: 10px;
    }
    
    .product-master-sub {
        font-size: 10px;
        top: -10px;
    }
    
    hr {
        width: 221px;
        margin-top: -10px;
    }

    #ariane {
        padding-top: 30px;
        margin-top: 30px;
        padding-bottom: 30px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    .breadcrumb li {
        font-size: 15px;
    }
    
    #home{
        width: 15px;
        height: 15px;
    }
}