* {
    font-family: 'Montserrat', sans-serif;
}

.center {
    text-align: center;
}

.text-overlay {
    padding-left: 260px;
    color: #000000;
    background-image: url(../../../assets/images/banner.png);
    background-size: 100% 100%;
}

#ideaButton {
    background-color: #000000;
    color: white;
    border: solid 1px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 56px;
    width: 175px;
    font-size: 20px;
}

.section1 {
    background-color: #eeeeee88;
    padding-top: 100px;
    padding-bottom: 100px;
}

.tuiles {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.box {
    flex: 1;
    height: 200px;
    max-width: 420px;
    min-width: 200px; 
    margin: 10px;
    font-size: 17px;
    background-color: white;
    display: flex;
}

.img {
    margin-left: 20px;
    margin-top: 25px;
}

.textSection1 {
    margin-left: 30px;
    margin-top: 15px;
}

.title_p {
    font-size: 24px;
    font-weight: bold;
}

/* Second section */
.section2 {
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}

#textSection2{
    text-align: center;
}

.boxSection2 {
    display: flex;
} 

.image {
    width: 320px;
    height: 230px;
}

.container {
    position: relative;
    padding: 10px;
}

.overlay {
    position: absolute;
    bottom: 15px;
    width: 320px;
    height: 230px;
    opacity: 0;
    transition: 0.3s ease;
    background-color: #b59f6b;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.textSection2 {
    color: white;
    font-size: 20px;
}

.container:hover::before {
    position: absolute;
    bottom: 15px;
    width: 320px;
    height: 230px;
    opacity: 1;
}

.container::after {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    width: 320px;
    height: 230px;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}
    
.container:hover::after {
    opacity: 1;
    width: 265px;
    height: 175px;
    transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}

@media screen and (max-width: 1300px) {
    .title_p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .tuiles {
        display: table;
        margin: 0 auto;
    }

    .box {
        max-width: 500px;
        display: table;
    }

    .img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_p {
        font-size: 24px;
    }
    
    p {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .boxSection2 {
        display: table;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .overlay {
       display: none;
    }
      
    .textSection2 {
        display: none;
    }
    
    .container::after {
        display: none;
    }
}