<div id="banner">
    <div class="text-overlay">
        <h1 class="text-hoverlay-h1">IF Design Studio</h1>
        <p class="text-hoverlay-p"><b>无穷尽</b>的视觉创意</p>
        <p class="text-hoverlay-p">IF (Infinity) 设计工作室</p>
        <br>
        <button class="button button-1" [routerLink]="'联系我们'">有个想法 ?</button>
        <div style="padding-bottom: 209px;"></div>
    </div>
</div>
<div class="section1">
    <h1 class="center">我们为您提供</h1>
    <div class="tuiles" [ngClass]="{'fade-in-out': opacitySection1 === 1}">
        <div class="box">
            <div class="img">
                <img src="../../../assets/images/ampoule.png" alt="icone" width="64" height="64">
            </div>
            <div class="textSection1">
                <p class="title_p text_p">Créativité</p>
                <p class="text_p">Notre équipe se compose de créatifs passionnés et expérimentés</p>
            </div>
        </div>
        <br>
        <div class="box">
            <div class="img">
                <img src="../../../assets/images/exponentiel.png" alt="icone" width="64" height="64">
            </div>
            <div class="textSection1">
                <p class="title_p text_p">Efficacité</p>
                <p class="text_p">Notre mission ? Répondre à l’ensemble de vos besoins !</p>
            </div>
        </div>
        <br>
        <div class="box">
            <div class="img">
                <img src="../../../assets/images/mains.png" alt="icone" width="64" height="64">
            </div>
            <div class="textSection1">
                <p class="title_p text_p">Accompagnement</p>
                <p class="text_p">Profitez d'un accompagnement personnalisé pour tous vos projets</p>
            </div>
        </div>
    </div>
</div>
<div class="section2">
    <div id="textSection2">
        <h4>RÉALISATIONS</h4>
        <h1 class="center">最新的作品</h1>
        <p class="text_p"> Logos, chartes graphiques, branding, campagnes de publicité, <br> 
            supports de communication print, découvrez les derniers projets <br> 
            créatifs menés par notre agence de communication visuelle.</p>
    </div>
    <div class="tuilesSection2" [ngClass]="{'tuiles2': opacitySection2 === 1}">
        <div class="boxSection2">
            <a href="#">
                <div class="container">
                    <img src="../../../assets/images/gt_motors.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">Hello World</div>
                        </div>
                    
                </div>
            </a>
            <a href="#">
                <div class="container">
                    <img src="../../../assets/images/dore.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">Hello World</div>
                        </div>
                </div>
            </a>
            <a href="#">
                <div class="container">
                    <img src="../../../assets/images/paques.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">Hello World</div>
                        </div>
                </div>
            </a>
        </div>
    </div>
    <div class="tuilesSection2" [ngClass]="{'tuiles3': opacitySection2 === 1}">
        <div class="boxSection2">
            <a href="#">
                <div class="container">
                    <img src="../../../assets/images/rochelle.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">Hello World</div>
                        </div>
                </div>
            </a>
            <a href="#">
                <div class="container">
                    <img src="../../../assets/images/yelo.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">Hello World</div>
                        </div>
                </div>
            </a>
            <a href="#">
                <div class="container">
                    <img src="../../../assets/images/dejeuner.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">Hello World</div>
                        </div>
                </div>
            </a>
        </div>     
    </div>
    <div id="buttonPortfolio">
        <button class="button button-1">作品集按钮</button>
    </div>
</div>
<div id="logos">
    <div id="logo-list" class="logo-list" [ngClass]="{'logos': opacityLogos === 1}">
      <img draggable="false" *ngFor="let logo of logos" class="logo" [src]="logo.src" [alt]="logo.alt">
    </div>
</div>
<div id="discussion">
    <div id="discussion_image">
        <img class="image_discussion" draggable="false" src="../../../assets/images/creative.png">
    </div>
    <div id="discussion_text">
        <div id="imgDiscussion">
            <img draggable="false" src="../../../assets/images/communication.png" width="50px" height="50px">
        </div>
        <div id="textDiscussion">
            <h2>Échangeons Sur Votre Projet !</h2>
            <p style="font-size: 17px; padding-bottom: 40px;">Notre agence de communication vous accompagne dans l'élaboration de votre stratégie de marque</p>
            <button id="contactDiscussion" class="button-1">CONTACTEZ-NOUS</button>
        </div>           
    </div>
</div>