* {
    font-family: 'Montserrat', sans-serif;
}

.center {
    text-align: center;
}

.text-overlay {
    padding-left: 260px;
    color: #000000;
    background-image: url(../../../assets/images/banner.png);
    background-size: 100% 100%;
}

.text-hoverlay-h1{
    font-size: 74px; 
    padding-top: 142px;
}

.text-hoverlay-p{
    font-size: 45px
}

#ideaButton {
    background-color: #000000;
    color: white;
    border: solid 1px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 56px;
    width: 175px;
    font-size: 20px;
    border-color: #000000;
}

.section1 {
    background-color: #eeeeee88;
    padding-top: 100px;
    padding-bottom: 100px;
}

.tuiles {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.box {
    flex: 1;
    height: 200px;
    max-width: 420px;
    min-width: 200px; 
    margin: 10px;
    font-size: 17px;
    background-color: white;
    display: flex;
}

.img {
    margin-left: 20px;
    margin-top: 25px;
}

.textSection1 {
    margin-left: 30px;
    margin-top: 15px;
}

.title_p {
    font-size: 24px;
    font-weight: bold;
}

/* Second section */
.section2 {
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}

#textSection2{
    text-align: center;
}

.boxSection2 {
    display: flex;
} 

.image {
    width: 320px;
    height: 230px;
}

.container {
    position: relative;
    padding: 10px;
}

.overlay {
    position: absolute;
    bottom: 15px;
    width: 320px;
    height: 230px;
    opacity: 0;
    transition: 0.3s ease;
    background-color: #b59f6b;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.textSection2 {
    color: white;
    font-size: 20px;
}

.container:hover::before {
    position: absolute;
    bottom: 15px;
    width: 320px;
    height: 230px;
    opacity: 1;
}

.container::after {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    width: 320px;
    height: 230px;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}
    
.container:hover::after {
    opacity: 1;
    width: 265px;
    height: 175px;
    transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}

#logos {
    display: flex;
    justify-content: center;
    background-color: #f9f7f7;
}

#logo-list {
    width: 60%;
    height: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 100px;
    padding-top: 50px;
}

.logo {
    width: auto;
    height: 100px;
    padding-right: 100px;
    filter: grayscale(100%);
}

#discussion{
    display: flex;
    padding-top: 150px;
    justify-content: center;
}

.image_discussion{
    width: 100%;
    height: 100%;
}  

#discussion_text{
    display: flex;
    padding-left: 125px;
}

#textDiscussion{
    position: relative;
    bottom: 10px;
    padding-left: 20px;
    width: 400px;
}

#contactDiscussion {
    background-color: #000000;
    color: white;
    border: solid 1px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 56px;
    width: 300px;
    font-size: 17px;
    border-color: #000000;
}

@media (max-width: 1800px){
    .text-overlay {
        padding-left: 250px;
    }
}

@media (max-width: 1600px){
    .text-overlay {
        padding-left: 200px;
    }
}

@media (max-width: 1300px){
    .text-overlay {
        padding-left: 100px;
    }

    .title_p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .text-overlay {
        padding-left: 0
     }

    .tuiles {
        display: table;
        margin: 0 auto;
    }

    .box {
        max-width: 500px;
        display: table;
    }

    .img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_p {
        font-size: 24px;
    }
    
    .text_p {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .boxSection2 {
        display: table;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .overlay {
       display: none;
    }
      
    .textSection2 {
        display: none;
    }
    
    .container::after {
        display: none;
    }

    .logo {
        height: 80px;
    }

    #discussion{
        display: table;
        margin: 0 auto;
        padding-top: 50px;
    }

    #discussion_text {
        display: table;
        margin: 0 auto;
        padding-left: 0;
    }

    #textDiscussion{
        padding-left: 0;
    }

    #imgDiscussion{
        display: none;
    }

    #discussion_image{
        padding-bottom: 75px;
    }
}

@media (max-width: 1000px){
    .text-overlay {
       text-align: center;
       background-size: 100% 100%;
       background-position: 75% 100%;
    }

    .text-hoverlay-h1{
        font-size: 54px; 
    }
    
    .text-hoverlay-p{
        font-size: 25px
    }

    #ideaButton {
        height: 36px;
        width: 145px;
        font-size: 17px;
    }
}

@media (max-width: 700px){
    .text-hoverlay-h1{
        font-size: 38px; 
    }
    
    .text-hoverlay-p{
        font-size: 20px
    }

    .logo {
        height: 50px;
    }

    #logo-list {
        height: 0;
    }
}

@media (max-width: 500px){
    .text-hoverlay-h1{
        font-size: 28px; 
    }
    
    .text-hoverlay-p{
        font-size: 15px
    }

    #ideaButton {
        height: 26px;
        width: 115px;
        font-size: 15px;
    }

    #textDiscussion{
        width: 200px;
    }
    
    #contactDiscussion {
        font-size: 10px;
        width: 200px;
    }
}

@media (max-width: 350px){
    .text-hoverlay-h1{
        font-size: 24px; 
    }
    
    .text-hoverlay-p{
        font-size: 12px
    }
}