<div class="section1">
    <h1 class="allH">Notre vision</h1>
    <div class="tuiles">
        <div class="box box1">
            <img src="../../../assets/images/ampoule.png" alt="icone" width="64" height="64">
            <p class="title_p">Créativité</p>
            <p>Notre équipe se compose de créatifs passionnés et expérimentés</p>
        </div>
        <div class="box box2">
            <img src="../../../assets/images/exponentiel.png" alt="icone" width="64" height="64">
            <p class="title_p">Efficacité</p>
            <p>Notre mission ? Répondre à l’ensemble de vos besoins !</p>
        </div>
        <div class="box box3">
            <img src="../../../assets/images/mains.png" alt="icone" width="64" height="64">
            <p class="title_p">Accompagnement</p>
            <p>Notre mission ? Répondre à l’ensemble de vos besoins !</p>
        </div>
    </div>
</div>
<div class="section2">
    <h4 class="allH">RÉALISATIONS</h4>
    <h1 class="allH">Nos dernières créations</h1>
    <p class="allH">Logos, chartes graphiques, branding, campagnes de publicité, <br> 
        supports de communication print, découvrez les derniers projets <br> 
        créatifs menés par notre agence de communication visuelle.</p>
    <div class="tuiles">
        <a class="section2A" href="#"><img class="imgSection2" src="../../../assets/images/gt_motors.png" alt="icone"></a>
        <a class="section2A" href="#"><img class="imgSection2" src="../../../assets/images/dore.png" alt="icone"></a>
        <a class="section2A" href="#"><img class="imgSection2" src="../../../assets/images/paques.png" alt="icone"></a>
        <a class="section2A" href="#"><img class="imgSection2" src="../../../assets/images/technologies.png" alt="icone"></a>
    </div>
    <div class="tuiles">
        <a class="section2A" href="#"><img class="imgSection2" src="../../../assets/images/rochelle.png" alt="icone"></a>
        <a class="section2A" href="#"><img class="imgSection2" src="../../../assets/images/yelo.png" alt="icone"></a>
        <a class="section2A" href="#"><img class="imgSection2" src="../../../assets/images/dejeuner.png" alt="icone"></a>
        <a class="section2A" href="#"><img class="imgSection2" src="../../../assets/images/panneau.png" alt="icone"></a>
    </div>        
</div>
