<div id="ariane">
    <h2>电商设计</h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>LOGO设计案例</li>
      </ul>
    </nav>  
  </div>
<div id="section1">
    <div id="description">
        <h3>PORTFOLIO ECOMMERCE</h3>
        <h1>CAN CAR小程序</h1>
        <div class="content">
            <p><strong>2022作品 -</strong> 电商设计、主图设计、详情页设计
                <br>
                <strong>设计师：</strong> 听
            </p>
        </div>
    </div>
    <div id="descriptionImage">
        <img id="imageSection1" src="../../../../assets/images/e-commerces/e-commerce-two/1.png" alt="e-commerce-two">
    </div>
</div>
<div id="section2">
    <div class="horizontal-image-container">
        <div class="effect-overlay"></div>
        <div class="text-container">
            <p class="text">CAR CAR<br>租车服务<br>小程序设计</p>
        </div>
        <img src="../../../../assets/images/e-commerces/e-commerce-two/2.png" alt="" class="horizontal-image" />
        <div class="vertical-bar-container">
          <div class="vertical-bar"></div>
        </div>
        <div class="vertical-hamburger-container">
          <img src="../../../../assets/images/e-commerces/hamburger.png" alt="" class="vertical-hamburger" />
        </div>
        <div class="vertical-image-container">
          <img src="../../../../assets/images/e-commerces/e-commerce-two/3.png" alt="" class="vertical-image" />
        </div>
    </div>
</div>
<div id="section3">
    <div id="color">
        <div id="color-container">
          <p class="color">Color</p>
          <p class="color-padding">颜色</p>
        </div>
        <div class="ellipse-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156 156" fill="none">
                <g filter="url(#filter0_d_604_258)">
                  <circle cx="78" cy="68" r="58" fill="#1F2022"/>
                </g>
                <defs>
                  <filter id="filter0_d_604_258" x="0" y="0" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="10"/>
                    <feGaussianBlur stdDeviation="10"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_604_258"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_604_258" result="shape"/>
                  </filter>
                </defs>
            </svg>
            <p class="ellipse-text">#1F2022</p>
          </div>
          
          <div class="ellipse-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156 156" fill="none">
                <g filter="url(#filter0_d_604_259)">
                  <circle cx="78" cy="68" r="58" fill="#FFFBF2"/>
                </g>
                <defs>
                  <filter id="filter0_d_604_259" x="0" y="0" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="10"/>
                    <feGaussianBlur stdDeviation="10"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_604_259"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_604_259" result="shape"/>
                  </filter>
                </defs>
              </svg>
            <p class="ellipse-text">##FFFBF2</p>
          </div>
          
          <div class="ellipse-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156 156" fill="none">
                <g filter="url(#filter0_d_604_261)">
                  <circle cx="78" cy="68" r="58" fill="#FEFEFE"/>
                </g>
                <defs>
                  <filter id="filter0_d_604_261" x="0" y="0" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="10"/>
                    <feGaussianBlur stdDeviation="10"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_604_261"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_604_261" result="shape"/>
                  </filter>
                </defs>
              </svg>
            <p class="ellipse-text">##FEFEFE</p>
          </div>
    </div>
</div>
<div id="section4">
  <div>
    <img src="../../../../assets/images/e-commerces/e-commerce-two/4.png" alt="" class="image-four"/>
  </div>
  <div class="product-name">
    <p class="product-master">PRODUCT MASTER PLAN</p>
    <p class="product-master-sub">主图设计</p>
  </div>
  <hr>
  <div class="image-container">
    <img src="../../../../assets/images/e-commerces/e-commerce-two/5.png" alt="" class="image-five"/>
  </div>
  <hr>
  <div class="product-name-two">
    <p class="product-master">PRODUCT MASTER PLAN</p>
    <p class="product-master-sub">主图设计</p>
  </div>
  <div class="product-three">
    <img src="../../../../assets/images/e-commerces/e-commerce-two/6.png" alt="" class="image-six"/>
  </div>
</div>