<div id="ariane">
    <h2><b>{{ 'MARKETING.ARIANE-H2-THREE' | translate }}</b></h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>{{ 'MARKETING.ARIANE-LI' | translate }}</li>
      </ul>
    </nav>  
 </div>
<div id="section1">
    <div id="description">
        <h3>{{ 'MARKETING.SECTION1-DESCRIPTION-FOUR-H3' | translate }}</h3>
        <h1 [innerHTML]="descriptionH1 | translate"></h1>
        <div class="content" [ngStyle]="{ 'max-height': isExpanded ? 'none' : '200px', 'overflow': isExpanded ? 'visible' : 'hidden' }">
            <p [innerHTML]="contentP | translate"></p>
        </div>
        <p class="read-more" (click)="toggleExpansion()">{{ isExpanded ? ('EXPAND.IS-EXPANDED'| translate)  : ('EXPAND.NOT-EXPANDED' | translate) }}</p>
    </div>
    <div id="descriptionImage">
       <img id="imageSection1" src="../../../../assets/images/marketing/marketing-four/1.png" alt="scene">
    </div>
</div>
<div class="section2">
    <div class="tuilesSection2" [ngClass]="{'tuiles2': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/flyer-one">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-four/2.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">{{ 'MARKETING.MARKETING-FOUR.OVERLAY-ONE' | translate }}</div>
                        </div>
                </div>
            </a>
            <a routerLink="/flyer-two">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-four/3.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">{{ 'MARKETING.MARKETING-FOUR.OVERLAY-TWO' | translate }}</div>
                        </div>
                </div>
            </a>
            <a routerLink="/flyer-three">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-four/4.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">{{ 'MARKETING.MARKETING-FOUR.OVERLAY-THREE' | translate }}</div>
                        </div>
                </div>
            </a>
        </div>
    </div>
    <div class="tuilesSection2" [ngClass]="{'tuiles3': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/flyer-four">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-four/5.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">{{ 'MARKETING.MARKETING-FOUR.OVERLAY-FOUR' | translate }}</div>
                        </div>
                </div>
            </a>
            <a routerLink="/flyer-five">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-four/6.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">{{ 'MARKETING.MARKETING-FOUR.OVERLAY-FIVE' | translate }}</div>
                        </div>
                </div>
            </a>
            <a routerLink="/flyer-six">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-four/7.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">{{ 'MARKETING.MARKETING-FOUR.OVERLAY-SIX' | translate }}</div>
                        </div>
                </div>
            </a>
        </div>     
    </div>
  </div>