* {
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

#navBar {
    max-height: 0;
}

#navBarElements{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#logo {
    padding-left: 300px;
    font-size: 2em;
    font-weight: bold;
}

#logo a {
    color: black;
}

#nav-links {
    padding-right: 300px;
}

#nav-links ul {
    display: flex;
    align-items: center;
}

#nav-links ul li {
   margin: 0 10px;
}

#nav-links ul li a {
    color: black;
    font-weight: 600;
}

#nav-links ul li.active a {
    color: #a38a4b;
    font-weight: 600;
}

#nav-links ul li:hover a {
    color: #b59f6b;
}

#hamburger-menu {
    display: none; 
}

@media screen and (max-width: 1800px){
    #logo {
        padding-left: 250px;
    }

    #nav-links {
        padding-right: 250px;
    }    
}

@media screen and (max-width: 1600px){
    #logo {
        padding-left: 200px;
    }

    #nav-links {
        padding-right: 200px;
    }    
}

@media screen and (max-width: 1300px){
    #logo {
        padding-left: 100px;
    }

    #nav-links {
        padding-right: 100px;
    }    
}

@media screen and (max-width: 1100px){
    #logo {
        padding-left: 50px;
    }

    #nav-links {
        padding-right: 50px;
    }    
}

@media screen and (max-width: 1000px){
    #nav-links{
        display: none;
    }

    #hamburger-menu {
        display: block; 
    }
    
    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
        background-color: #ffffff;
    }

    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
        background-color: #ffffff;
    }

    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
        background-color: #ffffff;
    }

    #menu__toggle:checked ~ .menu__box {
        right: 0 !important;
    }

    .menu__btn {
        position: fixed;
        top: 40px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transition-duration: .25s;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #000000;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item.active {
        color: #a38a4b;
    }

    .menu__item:hover {
        color: #b59f6b;
    }
}