<head>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <div class="header">
    <div id="logo-container">
      <div class="logo">
        <a [routerLink]="'home'"><img src="../../../assets/images/logo.png" alt="logo"></a>
      </div>
    </div>
    <div id="link-container" *ngIf="linksDisplay">
      <a [routerLink]="'home'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">{{ 'TOP-MENU.HOME' | translate }}</a>
      <div class="navigationTwo">
        <ul>
            <li>
              <a [routerLink]="'/newest-work-one'" routerLinkActive="active-link" (click)="changeCSS('footer')">
                <label for="btn" class="button">{{ 'TOP-MENU.GRAPHICS-HOME' | translate }}
                  <span class="fa fa-angle-down"></span>
                </label>
              </a>
              <ul class="navigationTwoFR" [ngClass]="selectedLanguage === 'EN' ? 'navigationTwoEN' : (selectedLanguage === 'FR' ? 'navigationTwoFR' : 'navigationTwoCN')"              >
                <li><a routerLink="/graphics" class="underline" (click)="changeCSS('footer')">{{ 'TOP-MENU.GRAPHICS' | translate }}</a></li>
                <li><a routerLink="/logo-design" class="underline" (click)="changeCSS('footer')">{{ 'TOP-MENU.LOGO-DESIGN' | translate }}</a></li>
                <li><a routerLink="/book-printing" class="underline" (click)="changeCSS('footer')">{{ 'TOP-MENU.BOOK-PRINTING' | translate }}</a></li>
                <li><a routerLink="/marketing" (click)="changeCSS('footer')">{{ 'TOP-MENU.MARKETING' | translate }}</a></li>
              </ul>   
            </li>
        </ul>
      </div>   
      <a [routerLink]="'UI/UX'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">{{ 'TOP-MENU.UIUX' | translate }}</a>
      <a [routerLink]="'art'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">{{ 'TOP-MENU.ART' | translate }}</a>
      <a [routerLink]="'about'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">{{ 'TOP-MENU.ABOUT' | translate }}</a>
      <a [routerLink]="'contact'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footerContact')">{{ 'TOP-MENU.CONTACT' | translate }}</a>
      <div class="navigation">
        <ul>
            <li>
              <div class="languagePosition">
                <div class="imgLanguage"><img src="../../../assets/images/language.png" alt="language" width="15px" height="15px"></div>
                <div class="textLanguage">{{selectedLanguage}} <span class="fa fa-angle-down"></span></div>
              </div>
              <ul>
                <li class="textLanguage" *ngIf="selectedLanguage != 'FR'" [ngClass]="selectedLanguage != 'FR' ? 'underline' : ''" (click)="selectLanguage('FR')">FR</li>
                <li class="textLanguage" *ngIf="selectedLanguage != 'CN'" [ngClass]="selectedLanguage != 'CN' ? 'underline' : ''" (click)="selectLanguage('CN')">CN</li>
                <li class="textLanguage" *ngIf="selectedLanguage != 'EN'"  (click)="selectLanguage('EN')">EN</li>
              </ul>
            </li>
        </ul>
      </div>   
    </div>
    <div id="hamburger-container" *ngIf="!linksDisplay">
      <i id="hamburger" class="ri-menu-line" (click)="toggleSidebar()"></i>
    </div>
  </div>
  <div class="body-container" [class.body-container-open]="sidebarOpen" *ngIf="!linksDisplay">
    <div id="sidebar">
      <div class="link-container">
        <i id="hamburger" class="ri-menu-line" (click)="toggleSidebar()" *ngIf="!sidebarOpen"></i>
        <i id="hamburger" class="ri-close-line" (click)="toggleSidebar()" *ngIf="sidebarOpen"></i>
      </div>
      <div id="sidebar-items">
        <a [routerLink]="'home'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">{{ 'TOP-MENU.HOME' | translate }}</a>
        <ul>
          <label for="btn" class="button" style="color: white">{{ 'TOP-MENU.GRAPHICS-HOME' | translate }}
            <span class="fa fa-angle-down"></span>
          </label>
          <input type="checkbox" id="btn">
          <ul>
            <li><a routerLink="/newest-work-one" (click)="changeCSS('footer')">{{ 'TOP-MENU.GRAPHICS-HOME' | translate }}</a></li>
            <li><a routerLink="/graphics" (click)="changeCSS('footer')">{{ 'TOP-MENU.GRAPHICS' | translate }}</a></li>
            <li><a routerLink="/logo-design" (click)="changeCSS('footer')">{{ 'TOP-MENU.LOGO-DESIGN' | translate }}</a></li>
            <li><a routerLink="/book-printing" (click)="changeCSS('footer')">{{ 'TOP-MENU.BOOK-PRINTING' | translate }}</a></li>
            <li><a routerLink="/marketing" (click)="changeCSS('footer')">{{ 'TOP-MENU.MARKETING' | translate }}</a></li>
          </ul>
        </ul>
        <a [routerLink]="'UI/UX'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">{{ 'TOP-MENU.UIUX' | translate }}</a>
        <a [routerLink]="'art'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">{{ 'TOP-MENU.ART' | translate }}</a>
        <a [routerLink]="'about'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">{{ 'TOP-MENU.ABOUT' | translate }}</a>
        <a [routerLink]="'contact'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footerContact')">{{ 'TOP-MENU.CONTACT' | translate }}</a>
        <ul>
          <div class="languagePosition">
            <div class="imgLanguage"><img src="../../../assets/images/language.png" alt="language" width="15px" height="15px"></div>
            <label for="btnLanguage" style="color: white">{{ selectedLanguage }}
              <span class="fa fa-angle-down"></span>
            </label>
          </div>
          <input type="checkbox" id="btnLanguage">
          <ul>
            <li class="textLanguage" *ngIf="selectedLanguage != 'FR'" [ngClass]="selectedLanguage != 'FR' ? 'underline' : ''" (click)="selectLanguage('FR')">FR</li>
            <li class="textLanguage" *ngIf="selectedLanguage != 'CN'" [ngClass]="selectedLanguage != 'CN' ? 'underline' : ''" (click)="selectLanguage('CN')">CN</li>
            <li class="textLanguage" *ngIf="selectedLanguage != 'EN'"  (click)="selectLanguage('EN')">EN</li>
          </ul>
        </ul>
        <ul>
        </ul>
      </div>
    </div>
  </div>
</body>