<head>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <div class="header">
    <div id="logo-container">
      <div class="logo">
        <a [routerLink]="'home'"><img src="../../../assets/images/logo.png" alt="logo"></a>
      </div>
    </div>
    <div id="link-container" *ngIf="linksDisplay">
      <a [routerLink]="'home'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">首页</a>
      <nav>
        <a id="submenu" [routerLink]="''" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">
          <label for="btn" class="button" style="color: white">平面设计
            <span class="fa fa-angle-down"></span>
          </label>
        </a>
        <ul>
          <li><a routerLink="/graphics" class="underline" (click)="changeCSS('footer')">品牌全案设计</a></li>
          <li><a routerLink="/logo-design" class="underline" (click)="changeCSS('footer')">LOGO设计</a></li>
          <li><a routerLink="/book-printing" class="underline" (click)="changeCSS('footer')">书籍刊印</a></li>
          <li><a routerLink="/marketing" (click)="changeCSS('footer')">宣传物料</a></li>
        </ul>        
      </nav>
      <a [routerLink]="'UI/UX'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">UI/UX</a>
      <a [routerLink]="'art'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">插画</a>
      <a [routerLink]="'about'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">关于我们</a>
      <a [routerLink]="'contact'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footerContact')">联系我们</a>
    </div>
    <div id="hamburger-container" *ngIf="!linksDisplay">
      <i id="hamburger" class="ri-menu-line" (click)="toggleSidebar()"></i>
    </div>
  </div>
  <div class="body-container" [class.body-container-open]="sidebarOpen" *ngIf="!linksDisplay">
    <div id="sidebar">
      <div class="link-container">
        <i id="hamburger" class="ri-menu-line" (click)="toggleSidebar()" *ngIf="!sidebarOpen"></i>
        <i id="hamburger" class="ri-close-line" (click)="toggleSidebar()" *ngIf="sidebarOpen"></i>
      </div>
      <div id="sidebar-items">
        <a [routerLink]="'home'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">首页</a>
        <ul>
          <label for="btn" class="button" style="color: white">平面设计
            <span class="fa fa-angle-down"></span>
          </label>
          <input type="checkbox" id="btn">
          <ul>
            <li><a routerLink="/graphics" (click)="changeCSS('footer')">品牌全案设计</a></li>
            <li><a routerLink="/logo-design" (click)="changeCSS('footer')">LOGO设计</a></li>
            <li><a routerLink="/book-printing" (click)="changeCSS('footer')">书籍刊印</a></li>
            <li><a routerLink="/marketing" (click)="changeCSS('footer')">宣传物料</a></li>
          </ul>
        </ul>
        <a [routerLink]="'UI/UX'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">UI/UX</a>
        <a [routerLink]="'art'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">插画</a>
        <a [routerLink]="'about'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footer')">关于我们</a>
        <a [routerLink]="'contact'" routerLinkActive="active-link" class="sidebar-item" (click)="changeCSS('footerContact')">联系我们</a>
      </div>
    </div>
  </div>
</body>