h2{
    text-align: center;
    background-color: #EFEFEF;
    padding-top: 60px;
    margin-top: 65px;
    padding-bottom: 65px;
    font-size: 48px;
    font-weight: 400;
    line-height: 67.2px;
}

#section1 {
    display: flex;
    padding-top: 183px;
    padding-left: 260px;
    padding-right: 260px;
}

#about{
    padding-right: 138px;
}

#about p{
    font-size: 20px;
    line-height: 30px;
}

.content {
    transition: max-height 0.3s ease-in-out;
  }
  
.read-more {
    color: blue;
    cursor: pointer;
}  

#image{
    width: 572px;
    height: 413px;
}

#section2 {
    display: flex;
    background-image: url(../../../assets/images/banner.png);
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 0 200px;
    padding-top: 244px;
    padding-left: 260px;
    padding-right: 260px;
}

#images{
    padding-right: 238px;
}

#imagesRight{
    display: flex;
}

#imageSize{
    width: 280px;
    height: 210px;
}

#imageLeft{
    padding-top: 60px;
}

#first {
    padding-right: 14px;
}