<h2>IF 设计工作室，为您的项目锦上添花</h2>
<div id="section1">
    <div id="about">
        <h3>关于我们</h3>
        <h1>探索创意无极限的世界！</h1>
        <div class="content" [ngStyle]="{ 'max-height': isExpanded ? 'none' : '150px', 'overflow': isExpanded ? 'visible' : 'hidden' }">
            <p>我们拥有专业团队支持，为您提供平面设计、UI/UX设计和插画服务。无论您的需求是什么，我们都有相应领域的专业人员，为您提供卓越的设计支持。与我们合作，您将获得专业团队的专业服务，确保您的项目获得最佳的设计成果。</p>
            <p>Opter pour un positionnement omnicanal décuple vos chances de toucher et de marquer l’esprit de votre audience. Notre travail consiste donc à vous accompagner et à vous conseiller dans l’élaboration de la stratégie de communication qui permettra de promouvoir votre marque ou votre entreprise. Grâce à notre expertise, notre créativité et nos compétences techniques, nous sommes en mesure de répondre à vos objectifs. Notre agence de communication visuelle et design graphique vous propose des solutions personnalisées, sur mesure et adaptées à vos besoins.</p>
        </div>

        <p class="read-more" (click)="toggleExpansion()">{{ isExpanded ? 'Lire moins' : 'Lire plus' }}</p>
    </div>
    <div id="aboutImage">
       <img id="image" src="../../../assets/images/gt_motors.png" alt="about">
    </div>
</div>
<div id="section2">
    <div id="images">
        <div id="imagesRight">
            <div id="first">
                <img id="imageSize" src="../../../assets/images/dejeuner.png" alt="photo">
            </div>
            <div id="second">
                <img id="imageSize" src="../../../assets/images/dejeuner.png" alt="photo">
            </div>
        </div>
        <div id="imageLeft">
            <img id="image" src="../../../assets/images/dore.png" alt="photo">
        </div>
    </div>
    <div id="textRight">
        <p>我们拥有专业团队支持，为您提供平面设计、UI/UX设计和插画服务。无论您的需求是什么，我们都有相应领域的专业人员，为您提供卓越的设计支持。与我们合作，您将获得专业团队的专业服务，确保您的项目获得最佳的设计成果。</p>
    </div>
</div>