<div id="ariane">
    <h2><b>{{ 'ABOUT.ARIANE-H2' | translate }}</b></h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>{{ 'ABOUT.ARIANE-LI' | translate }}</li>
      </ul>
    </nav>  
 </div>
<div id="section1">
    <div id="about">
        <h3>{{ 'ABOUT.H3' | translate }}</h3>
        <h1><b>{{ 'ABOUT.H1' | translate }}</b></h1>
        <div class="content">
            <p style="text-align: justify;">{{ 'ABOUT.TEXT' | translate }}</p>
            <div class="citation">
                <div id="bar"></div>
                <p [innerHTML]="citationOne | translate"></p>
            </div>
        </div>
    </div>
    <div id="aboutImage">
       <img id="imageSection1" src="../../../assets/images/about/1.png" alt="about">
    </div>
</div>
<div id="section2">
    <div id="images">
        <div id="imagesRight">
            <div id="first">
                <img id="imageSize" src="../../../assets/images/about/2.png" alt="photo">
            </div>
            <div id="second">
                <img id="imageSize" src="../../../assets/images/about/3.png" alt="photo">
            </div>
        </div>
        <div id="imageLeft">
            <img id="imageSection2" src="../../../assets/images/about/4.png" alt="photo">
        </div>
    </div>
    <div id="textRight">
        <div class="like">
            <img src="../../../assets/images/about/5.png" alt="thumb up">
            <h1>{{ 'ABOUT.H1-TWO' | translate }}</h1>
        </div>
        <div class="like-text">
            <p [innerHTML]="citationTwo | translate"></p>
        </div>
       <div class="buttonPosition"><button class="button button-1" routerLink='/contact'>{{ 'ABOUT.CONTACT' | translate }}</button></div>
    </div>
</div>