h2{
    text-align: center;
    background-color: #EFEFEF;
    padding-top: 60px;
    margin-top: 65px;
    padding-bottom: 65px;
}

#section1 {
    display: flex;
    padding-top: 183px;
    padding-left: 260px;
    padding-right: 260px;
}

#about{
    padding-right: 138px;
}

#about p{
    font-size: 20px;
    line-height: 30px;
}

.content {
    transition: max-height 0.3s ease-in-out;
  }
  
.read-more {
    color: blue;
    cursor: pointer;
}  

#image {
    width: 690px; 
    height: 413px;
}