<div id="ariane">
    <h2><b>文化墙作品</b></h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>平面设计</li>
      </ul>
    </nav>  
 </div>
 <div id="section1">
    <div id="description">
        <h3>PORTFOLIO E-COMMERCE</h3>
        <h1><b>文化墙面设计</b></h1>
        <div class="content" [ngStyle]="{ 'max-height': isExpanded ? 'none' : '200px', 'overflow': isExpanded ? 'visible' : 'hidden' }">
            <p id="text">文化墙设计通过展示图像、文字和艺术元素，传递组织或学校的核心价值观、使命和愿景，帮助员工或学生理解和认同组织文化，形成共同的文化认同感。同时，文化墙设计还能够强化员工或学生对组织或学校的身份认同，激发归属感和自豪感。通过展示组织或学校的历史、成就和文化符号，文化墙设计增强了员工或学生对组织或学校的忠诚度和参与度。此外，文化墙设计还促进了内部沟通和交流，通过展示重要的信息、里程碑事件和成就，帮助员工或学生了解组织或学校的最新动态和重要事项。通过运用鲜明的色彩、激励性的语言和正能量的图像，文化墙设计营造了积极、乐观和激励的工作环境，激发员工或学生发挥潜力，推动创新和团队合作。此外，文化墙设计还有助于传承和教育组织或学校的文化，通过展示历史文化、传统知识和重要事件，帮助员工或学生了解和学习组织或学校的文化传统，传承和发扬文化价值观。综上所述，精心设计和布置的文化墙能够在组织、企业或学校中起到促进文化传递、强化身份认同、促进内部沟通、创造良好工作环境和传承文化与教育的重要作用。</p>
        </div>
        <p class="read-more" (click)="toggleExpansion()">{{ isExpanded ? '取消' : '查看更多' }}</p>
    </div>
    <div id="descriptionImage">
       <img id="imageSection1" src="../../../../assets/images/marketing/marketing-nine/1.png" alt="scene">
    </div>
</div>
<div class="section2">
    <div class="tuilesSection2" [ngClass]="{'tuiles2': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/cultural-wall-one">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-nine/2.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">警务休息室</div>
                        </div>
                    
                </div>
            </a>
            <a routerLink="/cultural-wall-two">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-nine/3.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">竹芒科技</div>
                        </div>
                </div>
            </a>
            <a routerLink="/cultural-wall-three">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-nine/4.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">抖企传媒</div>
                        </div>
                </div>
            </a>
        </div>
    </div>
    <div class="tuilesSection2" [ngClass]="{'tuiles3': opacitySection2 === 1}">
        <div class="boxSection2">
            <a routerLink="/cultural-wall-four">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-nine/5.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">亚繁阀门</div>
                        </div>
                </div>
            </a>
            <a routerLink="/cultural-wall-five">
                <div class="container">
                    <img src="../../../../assets/images/marketing/marketing-nine/6.png" alt="icone" class="image">
                        <div class="overlay">
                            <div class="textSection2">湖南广告公司</div>
                        </div>
                </div>
            </a>
        </div>     
    </div>
  </div>