<div id="ariane">
    <h2><b>海报作品</b></h2>
    <nav class="breadcrumb">
      <ul>
          <li><a href="home"><img id="home" src="../../../../assets/images/home.png" alt="home" width="26px" height="24px"></a></li>
          <li>宣传物料</li>
      </ul>
    </nav>  
 </div>
 <div id="section1">
    <div id="description">
        <h3>PORTFOLIO BUSINESS CARD</h3>
        <h1><b>名片设计</b></h1>
        <div class="content" [ngStyle]="{ 'max-height': isExpanded ? 'none' : '200px', 'overflow': isExpanded ? 'visible' : 'hidden' }">
            <p id="text">展报和展厅设计在展览和活动中不仅是向观众传递信息的关键渠道，还是展示品牌形象和价值的重要展示方式。通过精心设计的展报和展厅，可以有效地呈现展览主题、产品特点和企业信息，引起观众的兴趣并留下深刻的印象。此外，展报和展厅设计还能够创造独特的展览体验，通过创意的布局、互动元素和吸引人的展示方式吸引观众的注意力。它们还能够引导观众流线，通过巧妙的导览和指示，使观众按照预定的路线浏览展览内容。同时，展报和展厅设计能够通过选择适合展览主题的灯光、色彩和装饰元素，营造出与展览内容相呼应的氛围，使观众更深入地融入展览体验。综上所述，展报和展厅设计在展览和活动中具有重要的作用，它们能够有效地传递信息、展示品牌形象、创造独特体验、引导观众并营造氛围，提升展览效果并为参展企业带来更多商机。</p>
        </div>
        <p class="read-more" (click)="toggleExpansion()">{{ isExpanded ? '取消' : '查看更多' }}</p>
    </div>
    <div id="descriptionImage">
       <img id="imageSection1" src="../../../../assets/images/marketing/marketing-six/1.png" alt="scene">
    </div>
</div>
<div class="section2">
    <div class="tuilesSection2" [ngClass]="{'tuiles2': opacitySection2 === 1}">
        <div class="boxSection2">
            <div class="container">
                <img src="../../../../assets/images/marketing/marketing-six/2.png" alt="icone" class="image">
            </div>
            <div class="container">
                <img src="../../../../assets/images/marketing/marketing-six/3.png" alt="icone" class="image">
            </div>
            <div class="container">
                <img src="../../../../assets/images/marketing/marketing-six/4.png" alt="icone" class="image">
            </div>
        </div>
    </div>
    <div class="tuilesSection2" [ngClass]="{'tuiles3': opacitySection2 === 1}">
        <div class="boxSection2">
            <div class="container">
                <img src="../../../../assets/images/marketing/marketing-six/5.png" alt="icone" class="image">
            </div>
            <div class="container">
                <img src="../../../../assets/images/marketing/marketing-six/6.png" alt="icone" class="image">
            </div>
            <div class="container">
                <img src="../../../../assets/images/marketing/marketing-six/7.png" alt="icone" class="image">
            </div>
        </div>     
    </div>
    <div class="tuilesSection2" [ngClass]="{'tuiles4': opacitySection2 === 1}">
        <div class="boxSection2">
            <div class="container">
                <img src="../../../../assets/images/marketing/marketing-six/8.png" alt="icone" class="image">
            </div>
            <div class="container">
                <img src="../../../../assets/images/marketing/marketing-six/9.png" alt="icone" class="image">
            </div>
            <div class="container">
                <img src="../../../../assets/images/marketing/marketing-six/10.png" alt="icone" class="image">
            </div>
        </div>     
    </div>
  </div>